    ion-nav{
        overflow: unset !important;
    }
    ion-header {
        ion-title { 
            color: var(--ujb_gray); padding-top: 15px !important; padding-bottom: 15px !important;
            /* min-height: 70px; */ text-align: center; margin-right: 48px; font-family: Lato Semibold;
            .toolbar-title { font-size: 20px; font-weight: unset; }
            @media screen and (max-width: 411px) {
                .toolbar-title { font-size: 18px; }
            }
        }
    }
    ion-header.ujb_header.header-ios {
        ion-navbar {
            .back-button {
                margin-left: 10px;

                .back-button-icon { font-size: 1.8em; }
            }
        }
    }
    .m-t-15{
        margin-top: 15px !important;
    }
    
    ion-content {
        .rN_btn_margin { margin-top: 40px; }
        .rN_wrapper {
            padding: 5px 20px 50px 20px !important; margin-top: 5px;

            .rN_block:first-child {
                padding-bottom: 50px !important;
                // ion-item { margin-top: 15px; }
            }

            .rN_block {
                box-shadow: -0.1px -1px 7.9px 0.1px rgba(0,0,0, 0.21); border-radius: 8.3px; padding: 20px; position: relative; 
                margin-bottom: 20px; padding-bottom: 40px;

                .rN_block_head {
                    h2 {
                        font-size: 20px; color: var(--ujb_blueDark); margin: 0; overflow: hidden; font-family: Lato Semibold;
                        text-overflow: ellipsis; white-space: nowrap;
                        img { width: 52px; height: 52px; vertical-align: middle; margin-right: 10px; }
                        @media screen and (max-width: 411px) {
                            font-size: 18px;
                            img { width: 50px; height: 50px; border-radius: 100%; }
                        }
                    }
                }
                .imgCircle {
                    width: 69px; height: 69px; border-radius: 100%; background: var(--ujb_bg_blue_referNow_circle);
                    text-align: center; line-height: 69px; margin: auto; position: absolute; bottom: -42px; left: 0; right: 0;
                    z-index: 10;

                    img { width: 42.7px; margin-top: 18px; }
                }

                .rN_someoneElse_form {
                    margin-top: 0px;

                    .ujb_selectNinput {
                        .ujb_select { margin-left: 0 !important; }
                        .ujb_input { margin-right: 0 !important; }
                    }
                    // ion-list.ujb_list { margin-bottom: 10px; }
                }
            }
            .rN_btn_spcl { max-width: 360px; margin: auto; margin-top: 0px; }
        }
    }
    .scroll-content {
        height: 100%; position: relative; transition: height 0.5s ease; padding-bottom: 0 !important;
    }
    .margin { margin-bottom: 40px !important; }
    // .keypadFocused {
    //     .scroll-content { height: calc((100vh - 59px) - 225px); }
    //     .margin { margin-bottom: 80px !important; }
    //     .blockToPush { position: relative; top: -100px; }
    // }
    // .keypadFocusedCaseSpecial {
    //     .scroll-content { height: calc((100vh - 59px) - 225px); }
    //     .margin { margin-bottom: 80px !important; }
    // }

    .blockToPush { position: relative; transition: top 0.5s ease; }
    .keypadFocused .blockToPush {
        @media screen and (min-height: 651px) {
            top: -185px !important;
        }
        @media screen and (max-height: 650px) {
            top: -145px !important;
        }
        @media screen and (max-height: 620px) {
            top: -110px !important;
        }
        @media screen and (max-height: 580px) {
            top: -145px !important;
        }
        @media screen and (max-height: 520px) {
            top: -200px !important;
        }
        @media screen and (max-height: 500px) {
            top: -130px !important;
        }
    }
    .scroll-animation{
        transition-duration: 2s, 2s;
        transition: transform 1000ms ease-in-out,-webkit-transform 1000ms ease-in-out !important;
    }
    ion-footer{
        margin-bottom: constant(safe-area-inset-bottom);
           margin-bottom: env(safe-area-inset-bottom);
       }
       ion-header{
        padding-top: 10px !important;
    }

