    // ion-header {
    //     img { display: block; width: 100%; }
    // }
    ion-grid {
        ion-row {
            ion-col {
                img { display: block; width: 100%; }
            }
        }
    }
    h3 { 
        font-size: 28px; color: var(--ujb_blueDark); font-weight: normal; text-transform: uppercase; margin-top: 65px; 
        margin-bottom: 30px;
    }
    p { font-size: 16px; color: var(--ujb_gray); line-height: 22px; }

    .scroll-content { overflow: hidden; }
    ion-footer{
        margin-bottom: constant(safe-area-inset-bottom);
           margin-bottom: env(safe-area-inset-bottom);
       }

