<!-- <ion-header>

  

</ion-header>
 -->

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/content-imgs/otpSuccess@2x.png" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
  <h3 text-center>SUCCESS!</h3>
  <div *ngIf="!update">
    <p text-center>
      You have successfully registered
      <br>
      with us </p>
  </div>
  <div *ngIf="update">
    <p text-center>
      Mobile number updated successfully
      <br>
    </p>
  </div>


</ion-content>
