    ion-header {
        .icon_close { width: 16px; height: 16px; margin-top: 15px; margin-right: 15px; float: right; }
    }
    .text { font-size: 16px; padding: 20px 10px; text-align: center; }
    .popup {
        padding: 0 20px 20px 20px; position: relative;
    }
    
    .blueIconCircle {
        width: 75px; height: 75px; background: var(--ujb_bg_blue_referNow_circle); padding: 24px 20px 20px 20px; border-radius: 100%;
        margin: auto; margin-top: 15px;
    }

