<ion-header class="ujb_header">
    <img class="icon_close" (click)="closeModal()" src="assets/imgs/icons/close-black.png" alt="">
</ion-header>
<ion-content class="ujb_theme">
    <div class="popup">
        <div class="blueIconCircle">
            <img src="assets/imgs/content-imgs/referralsGivenCopy@2x.png" alt="">
        </div>
        <p class="text">You can refer a business once you become a partner with UJustBe</p>
        <button class="ujb_btn_blue m-b-20" id="self" (click)="becomePartner()">Become a Partner</button>
        <!-- <button class="ujb_btn_bordered_lg rN_btn_margin" id="someOneElse" (click)="benefits()">Benefits of Referring</button> -->
    </div>
</ion-content>