<ion-header class="ujb_header ujbFrame_header">
    <div class="statusBarPlaceholder" showWhen="ios"></div>
    <ion-toolbar>
        <ion-title>Business KYC</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style="background: #a3c2e0;">
    <div class="container layer-outer">
        <div class="white-outer-div">
            <form [formGroup]="businessKYCgst">
                <div class="contentArea">
                    <h3>GST Details
                        <br> (if applicable)</h3>
                    <div class="answer-section">
                        <ion-list class="ujb_list" padding-horizontal>
                            <ion-item>
                                <ion-label position="floating">GST Number</ion-label>
                                <ion-input type="text" maxlength="15" formControlName="gstNo" (keyup)="validate($event)" (keyup.enter)="submitGST()"></ion-input>
                            </ion-item>
                            <!--<div class="validateError" *ngIf="checkValidation && businessKYCgst.get('gstNo').hasError('required')">GST Number is required.</div>-->
                            <!-- <div class="validateError" *ngIf="!isLengthValid && checkValidation">GST Number must be 15 digits.</div> -->
                        </ion-list>
                    </div>
                </div>
            </form>
        </div>
        <div class="layer-group">
                <div class="layer-overlay" float-left>
                    <div class="layerSecond"></div>
                    <div class="layerLast"></div>
                </div>  
        </div>
    </div>
    <div class="container slider-navigation ujbFrame_footer pl0 pr0" no-padding>
            <div class="slider-button" float-left>
                    <div class="block w-full" float-left>
                            <div class="navLeft" float-left (click)="goBack()">
                                <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                                <span>Previous</span>
                            </div>
                            <button class="btn_invisible" type="submit" float-right (click)="submitGST()">
                                <div class="navRight">
                                    <span>Next</span>
                                    <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
                                </div>
                            </button>
                        </div>
                        <div class="block w-full link-skip" (click)="goToDashboard()" text-center float-left>
                            <span>skip for later</span>
                        </div>
            </div>
    </div>
</ion-content>
<!-- <ion-footer>
    <footer class="ujbFrame_footer"> -->
        <!-- <div class="block w-full pad-15 pad-t0"  float-left>
    <button class="ujb_btn_blue">UJB Button Blue</button>
</div> -->
        <!-- <div class="block w-full" float-left>
            <div class="navLeft" float-left (click)="goBack()">
                <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                <span>Previous</span>
            </div>
            <button class="btn_invisible" type="submit" float-right (click)="submitGST()">
                <div class="navRight">
                    <span>Next</span>
                    <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
                </div>
            </button>
        </div>
        <div class="block w-full link-skip" (click)="goToDashboard()" text-center float-left>
            <span>skip for later</span>
        </div>
    </footer>
</ion-footer> -->