    ion-header {
        background: #ccc; 
        // padding: 10px; 
        text-align: center;
    }
    ion-content {
        ul.ujb_referal_status_list {
            list-style-type: none; padding: 0; margin: 0;
            
            li {
                a { 
                    padding: 7px; font-size: 14px; display: block;
                }
                a:active, a:hover, a:focus { background: #ccc; }
            }
        }
    }

