<ion-header class="ujb_header ujbFrame_header">
    <div class="statusBarPlaceholder" showWhen="ios"></div>
    <ion-toolbar>
        <ion-title>Business KYC </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style="background: #a3c2e0;">
   <div class="container layer-outer">
        <div class="white-outer-div">
            <form [formGroup]="businessKYCPan">
                <div class="contentArea">
                    <h3>Upload your Company PAN Card details</h3>
                    <ion-list class="ujb_list" padding-horizontal>
                        <ion-item class="ujb_input_labelPlaceholder">
                            <ion-label position="floating">PAN Card Number</ion-label>
                            <ion-input class="capital" type="text" tabindex="1" placeholder="10 Characters" formControlName="panNo" [(ngModel)]="panNumber" maxlength="10"></ion-input>
                        </ion-item>
                        <div class="validateError" *ngIf="businessKYCPan.get('panNo').hasError('required') && checkValidation">Please enter PAN card number.</div>
                        <div class="validateError" *ngIf="businessKYCPan.get('panNo').hasError('pattern') && !businessKYCPan.get('panNo').hasError('required') && businessKYCPan.controls['panNo'].dirty">Please enter valid PAN card number.</div>
                    </ion-list>
                    <div class="uploaded_pan {{myClass}}">
                        <div class="pancard">
                            <img src="{{panKyc.panImgBase64}}" alt="" imageViewer>
                        </div>
                        <div class="ujb_link {{myClass}}" (click)="editphoto(1)">
                            <span class="inline-block">
                        <img class="icon-edit" src="assets/imgs/icons/editCopy3@2x.png"  alt="">
                        Edit Photo
                    </span>
                        </div>
                    </div>
                    <button class="ujb_btn_bordered_lg m-b-0 {{uploadClick}}" (click)="editphoto(2)">
                <img class="icon-upload" src="assets/imgs/icons/uploadOptionCopy2@2x.png" alt="">
                Upload PAN card Photo
              </button>
                    <div class="validateError m-b-40 pad-lr-16" *ngIf="isFileAbsent && checkValidation">Please upload PAN card photo.</div>
                </div>
            </form>
        </div>
        <div class="layer-group">
                <div class="layer-overlay" float-left>
                    <div class="layerSecond"></div>
                    <div class="layerLast"></div>
                </div>  
        </div>
    </div>
    <div class="container slider-navigation ujbFrame_footer pl0 pr0" no-padding>
            <div class="slider-button" float-left>
                    <div class="block w-full" float-left>
                            <div class="navLeft" float-left (click)="goBack()">
                                <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                                <span>Previous</span>
                            </div>
                            <button class="btn_invisible" float-right (click)="submitPan()">
                                <div class="navRight" >
                                    <span>Next</span>
                                    <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
                                </div>
                            </button>
                        </div>
                        <div class="block w-full link-skip" hidden (click)="goToDashboad()" text-center float-left>
                            <span>skip for later</span>
                        </div>
            </div>
    </div>
</ion-content>
<!-- <ion-footer>
    <footer class="ujbFrame_footer">

        <div class="block w-full" float-left>
            <div class="navLeft" float-left (click)="goBack()">
                <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                <span>Previous</span>
            </div>
            <button class="btn_invisible" float-right (click)="submitPan()">
                <div class="navRight" >
                    <span>Next</span>
                    <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
                </div>
            </button>
        </div>
        <div class="block w-full link-skip" hidden (click)="goToDashboad()" text-center float-left>
            <span>skip for later</span>
        </div>
    </footer>
</ion-footer> -->