
    * { color: var(--ujb_gray); font-size: 14px; }
    ol {
        padding-left: 25px;
        li { margin-bottom: 15px; }
        li {
            h3 { font-style: italic; font-family: Lato Semibold; }
            p {}
            ul {
                padding-left: 25px;
                li { margin-bottom: 10px; }
            }
        }
    }
    //ion-header{
      //  padding-top: 10px !important;
    //}

