<ion-header class="ujb_header ujb_header_sm blue-bg">
  <header [pageTitle]="pageTitle"></header>
</ion-header>

<ion-content>
  <h2>Mentor</h2>
  <ul class="memborList">
    <li class="member" *ngFor="let userinfoobj of mentorUserInfo">
      <ion-grid no-padding>
        <ion-row>
          <ion-col size="8" class="col1" (click)="openProfile(userinfoobj)">
            <img class="photo"
              src="{{userinfoobj.base64Image}}" onerror="src='assets/imgs/icons/profilepic@2x.png'"
              alt="">
            <h3 class="name">{{userinfoobj.firstName}} {{userinfoobj.lastName}} </h3>
            <p class="profile">{{userinfoobj.role}}</p>
            <p class="code">{{userinfoobj.myMentorCode}}</p>
          </ion-col>
          
          <ion-col size="4" class="col2">
            <ul class="connects"  *ngFor="let userinfoobj of mentorUserInfo,let i =index" style="display: none">
              <li class="m-r-15" (click)="openonApp()"><img src="assets/imgs/icons/whatsapp-white.png"  alt=""></li>
              <li (click)="gotoKeypad(userinfoobj)">
                <a class="inline-block" href="tel:{{userinfoobj.mobileNumber}}">
                    <img class="icon_mobile" src="assets/imgs/icons/mobileCopy@2x.png" alt="">
                </a>
              </li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>
    </li>
  </ul>
  <h2>Connects</h2>
    <ul class="memborList">
    <li class="member" *ngFor="let userinfoconnectobj of connectorUserInfo,let i =index">
      <ion-grid no-padding>
        <ion-row >
          <ion-col size="8" class="col1" (click)="openProfile(userinfoconnectobj)">
            <img class="photo"
              src="{{userinfoconnectobj.base64Image}}" onerror="src='assets/imgs/icons/profilepic@2x.png'"
              alt="">
              
            <h3 class="name">{{userinfoconnectobj.firstName}} {{userinfoconnectobj.lastName}} </h3>
            <p class="profile">{{userinfoconnectobj.role}}</p>
            <p class="code">{{userinfoconnectobj.myMentorCode}}</p>
          </ion-col>
          <ion-col size="4" class="col2" >
            <ul class="connects"   >
              <li class="m-r-15" (click)="openonApp(userinfoconnectobj)"><img src="assets/imgs/icons/whatsapp-white.png" alt=""></li>
              <li (click)="gotoKeypad(userinfoconnectobj)"><img class="icon_mobile" src="assets/imgs/icons/mobileCopy@2x.png" alt=""></li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>
    </li>
  </ul>
  <div class="noData" *ngIf="showNoConnectMessage==true"  text-center>{{noConnectMessage}}</div>
</ion-content>
<ion-footer>
  <button class="ujb_btn_bordered_sm {{margin}}" text-center (click)="gotoInvitePeople()">
    <img class="icon_invite" src="assets/imgs/icons/inviteCopy@2x.png" alt="">
    Invite People
  </button>
</ion-footer>
