    .notification { display: none !important; }
    h2 { font-size: 20px; color: rgba(51, 51, 51, 0.5); padding: 0 16px; margin-bottom: 0 !important; }
    .back-button { display: block; .back-button { margin-left: 0 !important; padding-left: 0 !important; } }
    ul.memborList {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li.member {
            background: #fff;
            padding: 12px 16px;
            border-bottom: 1px solid #ccc;
            .col1 {
                img.photo {
                    width: 53px;
                    height: 53px;
                    float: left;
                    border-radius: 100%;
                    margin-right: 10px;
                }
                h3.name {
                    color: var(--ujb_blueDark);
                    font-weight: 600;
                    margin-top: 5px;
                    margin-bottom: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-right: 10px;
                    font-size: 20px;
                }
                p.profile {
                    color: rgba(51, 51, 51, 0.5);
                    font-size: 12px;
                    line-height: 16px;
                }
                p.code {
                    color: rgba(51, 51, 51, 0.5);
                    font-size: 12.7px;
                    line-height: 16px;
                }
            }
            .col2 {
                ul.connects {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    margin-top: 10px;
                    li {
                        width: 44px;
                        height: 44px;
                        vertical-align: middle;
                        text-align: center;
                        line-height: 44px;
                        background: var(--ujb_blueDark);
                        display: inline-block;
                        border-radius: 100%;
                        padding-top: 5px;
                        background: rgba(0, 51, 102, 0.7);
                        img {
                            width: 18px;
                            height: 18px;
                        }
                        img.icon_mobile {
                            width: 11px;
                            height: 20px;
                        }
                    }
                }
            }
        }
        li.member:hover {
            background: rgb(156, 198, 240);
        }
    }
    ion-footer {
        background: #fff !important;
        padding: 25px 40px !important;
        button {
            .icon_invite {
                width: 16px;
                height: 17px;
                margin-right: 5px;
                vertical-align: text-top;
            }
        }
    }
    .noData { 
        font-size: 16px;
        color: #333;
        width: 260px;
        margin: auto; }
        ion-header{
            padding-top: 10px !important;
        }
        .margin{
            margin-bottom: 10px;
        }
