<!--
  Generated template for the QuestionnaireNewUiQuestionnairePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="ujb_header ujbFrame_header">
  <div class="statusBarPlaceholder" showWhen="ios"></div>
  <ion-toolbar>
      <ion-title>Enroll as Partner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background: #a3c2e0;">
  <div class="container layer-outer">
      <div class="white-outer-div">
        <h3 class="question-title">Tell us your location</h3>
        <div class="container">
            <ion-list class="ht-list">
                <ion-item>
                  <ion-label color="primary" position="floating">Floating 1</ion-label>
                  <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="primary" position="floating">Floating Labe2</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label color="primary" position="floating">Floating Label3</ion-label>
                      <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label color="primary" position="floating">Floating Label4</ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label color="primary" position="floating">Floating Label5</ion-label>
                          <ion-input></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" position="floating">Floating Label6</ion-label>
                            <ion-input></ion-input>
                          </ion-item>
              </ion-list>
        </div>
      </div>
      <div class="layer-group">
        <div class="layer-overlay" float-left>
            <div class="layerSecond"></div>
            <div class="layerLast"></div>
        </div>  
      </div>
  </div>
<div class="container slider-navigation">
  <div class="slider-button" float-left>
      <div class="navLeft" float-left (click)="goToQ2()" *ngIf="!showSave">
          <span float-left class="slider-btn"><img class="img-icon" src="assets/imgs/icons/previous.png" alt=""></span>
          <span float-left class="nav-lbl">Previous</span>
      </div>
      <button class="btn_invisible navRt" type="submit" disabled="{{disableSave}}" style="opacity: 1;" float-left (click)="validate(true)" *ngIf="!showSave">
          <div class="navRight" *ngIf="!showSave">
              <span float-left class="nav-lbl">Next</span>
              <span float-left  class="slider-btn"><img class="img-icon" src="assets/imgs/icons/next.png" alt=""></span>
          </div>
      </button>
  </div>
</div>
</ion-content>
