
    .partner {
        text-align: left; //height: calc(100vh - 120px); overflow: auto;
        

        .partnerHeader {
            max-height: 350px; overflow: hidden; position: relative;

            .partnerPhoto { width: 100%; height: auto; }
            img.ctrl_ImageEdit { 
                padding: 7px 15px; background: #ccc; position: absolute; bottom: 15px; right: 15px; width: 56px; border-radius: 8px;
            }
        }
        .padding { padding: 20px 16px; }
        .border-bottom { border-bottom: 1px solid #ccc; }
        .m-t-0 { margin-top: 0 !important; }
        .font-12 { font-size: 12px; }
        .ujb_link.t18 { font-size: 18px !important; }
        .vAlign-top { vertical-align: top !important; }
        // .m-b-20 { margin-bottom: 20px; }
        .pad-l-10 { padding-left: 10px; }
        .icon-edit { width: 12px; height: 12px; margin-top: 5px; }

        .partnerCode { font-size: 14px; @extend .ujb_gray !optional; padding: 15px 16px 0 16px; }

        /* SECTION 1 */
        section {
            .singleConnect { width: 65px; height: 65px; min-width: 65px; display: block; margin: auto; }
            @media screen and (max-width: 411px) {
                .singleConnect { width: 60px; height: 60px; min-width: 60px; }
            }
            @media screen and (max-width: 390px) {
                .singleConnect { width: 55px; height: 55px; min-width: 55px; }
            }
            @media screen and (max-width: 360px){
                .singleConnect { width: 54.2px; height: 54.2px; min-width: 54.2px; }
            }
            h2.partnerName {
                font-size: 24px; vertical-align: super; margin: 0 0 20px 0; @extend .ujb_gray !optional; font-family: Lato Semibold;
                @media screen and (max-width: 411px) {
                    font-size: 22px;
                }
            }
            .ujb_link.t18 {
                font-family: Lato Bold;
                @media screen and (max-width: 411px) {
                    font-size: 16px !important;
                }
            }
            .linkArrow { width: 16px; height: 11px; margin-left: 5px; display: inline-block; }
            h3 {
                font-size: 20px; @extend .ujb_gray !optional; font-family: Lato Semibold;
                @media screen and (max-width: 411px) {
                    font-size: 18px;
                }
            }

            /* Partner Connects */
            .partnerConnects {
                overflow: auto;

                .pc-label { font-size: 15px; @extend .ujb_gray !optional; padding-bottom: 10px; }

                .imgContainer {
                    @extend .singleConnect !optional; overflow: hidden; margin: auto; position: relative;
    
                    img { 
                        position:absolute; left: -100%; right: -100%; top: -100%; bottom: -100%; margin: auto; min-height: 100%; 
                        min-width: 100%; object-fit: cover;
                    }
                }

                .mentor {
                    width: 20%; float: left; padding-right: 10px; border-right: 1px solid #ccc;

                    img.connect { display: inline-block; border-radius: 100%; @extend .singleConnect !optional; }
                }
                .connects {
                    width: 80%; float: left; padding-left: 5px;

                    ul {
                            list-style-type: none; float: left; margin: 0; padding: 0 0 0 5px; display: flex;
                            justify-content: flex-start; width: 100%;
                        
                            li {
                                float: left; margin: 0 5px;

                                img { @extend .singleConnect !optional; display: inline-block; border-radius: 100%; }
                                .connectCounters {
                                    background: rgb(148, 183, 219); border-radius: 100%; text-align: center;
                                    @extend .singleConnect !optional; padding-top: 10px; line-height: 16px;

                                    .ujb_link { font-size: 14px; }
                                }
                            }
                    }
                }
            }
            .secRow {
                line-height: 19px;
                margin-bottom: 15px;

                p:not(.font-12) {
                    font-size: 16px; @extend .ujb_gray !optional; font-family: Lato Semibold;
                    @media screen and (max-width: 414px){
                        font-size: 15px;
                    }
                }
                ion-textarea { border: 1px solid #ccc; border-radius: 8px; }
                span.ujb_link { font-weight: normal; }
            }
        }

        /* Section 2 */
        section.profileDetails {
            margin-bottom: 50px;
            h2 {
                font-size: 20px; color: var(--ujb_gray); margin-bottom: 10px; font-family: Lato Semibold;
                @media screen and (max-width: 411px) {
                    font-size: 18px;
                }
            }
            .dataInputs {
                > div { overflow: auto; }
                img:not(.icon-edit) { float: left; }
                img.icon-edit { float: right !important; }
                span.Data { display: inline-block; width: calc(100% - 55px); }
                span.Data:not(.address) { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; float: left; }
            }
        }

        .ujb_selectNinput {
            ion-item:first-child { margin-left: 0 !important; }
            ion-item:last-child { margin-right: 0 !important; }
        }
    }
    .view {
        display: block !important;
    }
    .hide {
        display: none !important;
    }
    .profileDetails .dataInputs .icon-mobile { width: 20px !important; height: 20px !important; }
    .call-icon{
        color: rgb(180, 176, 176);
        width: 100%;
        height: 20px;
        float: left;
    }
    .wts-i{
        width:15px;
        float: left;
        margin-right: 5px;
    }
    .call-i{
        width:18px;
        float: left;
    }
    .w-icon{
        color: rgb(180, 176, 176);
        width: 37%;
        float: left;
    }
    .m-icon{
        color: #b4b0b0;
    }

