<ion-header class="ujb_header">
  <span class="inline-block iconTextTip" float-left><img src="assets/imgs/icons/toolTip@2x.png" alt="">Tip</span>
  <img src="assets/imgs/icons/close-black.png" alt="" class="tip-dismiss" float-right (click)="closeTip()">
</ion-header>
<ion-content no-padding>
  <p>
      For each product or service that you offer,
      <br>
      please enter a <b>referral amount</b> or <b>referral percentage.</b>
      <br>
      Amount or percentage can be either <b>single</b> or <b>slab-wise.</b>
      <br>
      Please see the <u><b>example</b></u> if you need more clarity.
      <br><br>
      For example, If your product is home loans
      <br>
      <b>Scenario 1 : Referral Amount</b>
      <br>
      <u>Product:</u> Home Loan
      <br>
      <u>Single Referral Amount:</u> Rs. 200
      <br>
      <u>Slab-wise Referral Amount:</u>
      <br>
      Loan of Rs. 0 to 5 Lakhs : Rs. 50,000
      <br>
      Loan of Rs. 5 Lakhs to 10 Lakhs : Rs. 1 Lakh
      <br>
      and so on.
      <br>
      <br>
      <b>Scenario 2 : Referral Percentage</b>
      <br>
      <u>Product:</u> Home Loan
      <br>
      <u>Single Referral Percentage:</u> 2 %
      <br>
      <u>Slab-wise Referral Percentage</u>
      <br>
      Loan of Rs. 0 to 5 Lakhs : 5%
      <br>
      Loan of Rs. 5 Lakhs to 10 Lakhs : 10%
      <br>
      and so on.
  </p>
</ion-content>