<!-- Generated template for the HeaderComponent component -->
<div class="statusBarPlaceholder" showWhen="ios"></div>

<ion-toolbar>
  <ion-buttons slot="start">
        <ion-back-button class="white-text"></ion-back-button>
    </ion-buttons>
  <span class="notification" float-right>
    <ion-icon name="notifications-outline"></ion-icon>
    <span class="counter">99</span>
  </span>
  <ion-title>
    <!-- <ion-icon float-left class="backButton" ios="ios-arrow-back" md="md-arrow-back"></ion-icon> -->
    <span>{{headerTitle}}</span>
  </ion-title>
</ion-toolbar>