<ion-header class="ujb_header ujbFrame_header blue-bg">
    <div class="statusBarPlaceholder" showWhen="ios"></div>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>KYC Documents</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content style="background: #a3c2e0;">
        <div class="container layer-outer">
            <div class="white-outer-div">
            <form [formGroup]="KYCAdharForm">
                <div class="contentArea">
                    <h3>Upload your Aadhar Card details</h3>
                    <ion-list class="ujb_list" padding-horizontal>
                        <ion-item class="ujb_input_labelPlaceholder">
                            <ion-label position="floating">Aadhar Card Number</ion-label>
                            <ion-input type="tel" maxlength="12" formControlName="aadharNumber" (keyup)="onKey($event)"  tabindex="1" placeholder="12 Characters" name="space" (ionChange)="AdharNumberSpace($event)" [(ngModel)]="inputValue"></ion-input>
                        </ion-item>
                        <!-- <div class="validateError" *ngIf="KYCAdharForm.controls['aadharNumber'].dirty && KYCAdharForm.get('aadharNumber').hasError('minLength')">Adhar card number must be 12 digits.</div>
                        <div class="validateError" *ngIf="KYCAdharForm.controls['aadharNumber'].dirty && KYCAdharForm.get('aadharNumber').hasError('pattern')">Adhar card number invalid.</div> -->
                        <div class="validateError" *ngIf="!KYCAdharForm.controls['aadharNumber'].valid && !isNan && checkValidation">Adhar card number must be 12 digits.</div>
                        <div class="validateError" *ngIf="isNan && checkValidation">Please enter a valid Adhar card number</div>
                    </ion-list>
                    <div class="uploaded_adhar">
                        <div class=" {{myClass}}">
                            <div class="imgContainer">
                                <img class="adharCard" [src]="aadharKyc.aadharFrontBase64" imageViewer>
                            </div>
                            <div class="ujb_link {{myClass}}" (click)="frontSideImg(1)">
                                <span class="inline-block ">
                                    <img class="icon-edit" src="assets/imgs/icons/editCopy3@2x.png" alt="">
                                    Edit Photo
                                </span>
                            </div>
                        </div>

                        <div size="6" class=" {{myClass1}}">
                            <div class="imgContainer">
                                <img class="adharCard" src="{{aadharKyc.aadharBackBase64}}" imageViewer>
                            </div>
                            <div class="ujb_link {{myClass1}} " (click)="backSideImg(1)">
                                <span class="inline-block">
                                    <img class="icon-edit" src="assets/imgs/icons/editCopy3@2x.png" alt="">
                                    Edit Photo
                                </span>
                            </div>
                        </div>
                    </div>
                    <button class="ujb_btn_bordered_lg {{uploadClick}}" (click)="frontSideImg(2)">
                        <img class="icon-upload" src="assets/imgs/icons/uploadOptionCopy2@2x.png" alt=""> Upload Aadhar card front
                    </button>

                    <button class="ujb_btn_bordered_lg aadhar-back {{uploadClick1}}" (click)="backSideImg(2)">
                        <img class="icon-upload" src="assets/imgs/icons/uploadOptionCopy2@2x.png" alt=""> Upload Aadhar card back
                    </button>
                </div>
            </form>
        </div>
        <div class="layer-group">
                <div class="layer-overlay" float-left>
                    <div class="layerSecond"></div>
                    <div class="layerLast"></div>
                </div>  
            </div>
    </div>
    <div class="container slider-navigation ujbFrame_footer pl0 pr0" no-padding>
            <div class="slider-button" float-left>
                    <div class="block w-full" float-left>
                            <div class="navLeft" (click)="goBack()" float-left>
                                <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                                <span>Previous</span>
                            </div>
                            <div class="navRight" float-right (click)="submitAadharDetails()">
                                <span>Next</span>
                                <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
                            </div>
                        </div>
                        <div class="block w-full link-skip" (click)="gotoDashboard()" text-center float-left>
                            <span>skip for later</span>
                        </div>
            </div>
    </div>
</ion-content>
<!-- <ion-footer>
    <footer class="ujbFrame_footer">
        <div class="block w-full" float-left>
            <div class="navLeft" (click)="goBack()" float-left>
                <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                <span>Previous</span>
            </div>
            <div class="navRight" float-right (click)="submitAadharDetails()">
                <span>Next</span>
                <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
            </div>
        </div>
        <div class="block w-full link-skip" (click)="gotoDashboard()" text-center float-left>
            <span>skip for later</span>
        </div>
    </footer>
</ion-footer> -->