<ion-header class="ujb_header ujbFrame_header blue-bg">
    <div class="statusBarPlaceholder" showWhen="ios"></div>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ pageTitle }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style="background: #a3c2e0;">
    <div class="container layer-outer">
        <div class="white-outer-div">
            <div class="contentArea content-ht">
                <h3>Who is your Mentor?</h3>
                <!-- <ng-template #withFlags let-attrs="attrs">
                    <img src='assets/imgs/icons/profileMan@2x.png' onerror="this.src='assets/imgs/icons/profileMan@2x.png'" class="ujbthumbneil">
                  </ng-template> 
                <ion-auto-complete [dataProvider]="GetMentorService" [template]="withFlags"></ion-auto-complete>
                <ion-auto-complete [dataProvider]="GetMentorService" ></ion-auto-complete>-->
                <div class="block mentorBlock ">
                    <form action=".">
                        <ion-searchbar search-icon="null" placeholder="Search Mentor Name" class="ujb_mentorSearch"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="searchTerm" (ionInput)="getMentorList()">
                        </ion-searchbar>
                    </form>
                    <div class="validateError" *ngIf="!isInputgiven && checkValidation">Please select mentor name.</div>
                    <!-- <ion-content> -->
                        <ion-list id="listScroll" class="searchSuggestion {{myClass}} box" #scrollMe
                            (change)="scrollToBottom()">
                            <!-- <div class='boxChild'></div> -->
                            <ion-item *ngFor="let userinfoobj of userList" style="visibility: visible">
                                <ion-thumbnail class="ujbheight" (click)="onValueSelection(userinfoobj)">
                                    <img src='{{userinfoobj.base64Image}}'
                                        onerror="this.src='assets/imgs/icons/profileMan@2x.png'" class="ujbthumbneil">
                                    <div class="customLabel">
                                        <div id="mentorName" class="ujb_link">
                                            <span class="capitalise">{{userinfoobj.firstName}} </span>
                                            <span class="capitalise">{{userinfoobj.lastName}} </span>
                                        </div>
                                        <div class="localityText">{{userinfoobj.locality}}</div>
                                        <b>Connects: </b> {{userinfoobj.noOfConnects}}
                                    </div>
                                </ion-thumbnail>
                            </ion-item>
                            <ion-item class="{{noDataFound}}">
                                Mentor not found
                            </ion-item>
    
                        </ion-list>
                    <!-- </ion-content> -->
                    <ion-list class="ujb_list m-t-10">
                        <ion-item id="mentorCode">
                            <ion-label position="floating">Mentor Code</ion-label>
                            <ion-input disabled="true" type="text" tabindex="8" [(ngModel)]="mentorCode"></ion-input>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>

        <div class="layer-group">
            <div class="layer-overlay" float-left>
                <div class="layerSecond"></div>
                <div class="layerLast"></div>
            </div>
        </div>
    </div>
    <div class="container slider-navigation ujbFrame_footer pl0 pr0" no-padding>
        <div class="slider-button" float-left>
            <div class="block w-full" float-left>
                <div class="navLeft" float-left (click)="goBack()" *ngIf="!showSave">
                    <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                    <span>Previous</span>
                </div>
                <button class="btn_invisible" type="submit" disabled="{{disableSave}}" style="opacity: 1;" float-right
                    (click)="goToQuestionnaire6()" *ngIf="!showSave">
                    <div class="navRight" *ngIf="!showSave">
                        <span>Next</span>
                        <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
                    </div>
                </button>
            </div>
            <div class="block w-full link-skip" text-center float-left>
                <div class="block w-full pad-15 pad-t0" float-left *ngIf="showSave">
                    <button class="ujb_btn_blue" (click)="saveMentor()" disabled="{{disableSave}}">Save</button>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<!-- <ion-footer>
    <footer class="ujbFrame_footer">
        <div class="block w-full" float-left>
            <div class="navLeft" float-left (click)="goBack()" *ngIf="!showSave">
                <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                <span>Previous</span>
            </div>
            <button class="btn_invisible" type="submit" disabled="{{disableSave}}" style="opacity: 1;" float-right (click)="goToQuestionnaire6()" *ngIf="!showSave">
            <div class="navRight" *ngIf="!showSave">
                <span>Next</span>
                <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
            </div>
        </button>
        </div>
        <div class="block w-full link-skip" text-center float-left>
            <div class="block w-full pad-15 pad-t0" float-left *ngIf="showSave">
                <button class="ujb_btn_blue" (click)="saveMentor()" disabled="{{disableSave}}">Save</button>
            </div>
        </div>
    </footer>
</ion-footer> -->