<ion-header class="ujb_header ujbFrame_header  blue-bg">
    <div class="statusBarPlaceholder" showWhen="ios"></div>
    <ion-toolbar>
        <ion-title>Business Listing</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style="background: #a3c2e0;" [ngClass]="{'keypadFocused':pushNow==true}">
        <div class="container layer-outer">
            <div class="white-outer-div">
            <form [formGroup]="businessList6Form">
                <div class="contentArea">
                    <div class="blockToPush">
                        <h3>Company Address</h3>
                        <p style="margin-bottom: 20px !important; text-align: center">(Please verify your address as it will be appearing on the agreement)</p>
                        <div class="answer-section">
                            <ion-list class="ujb_list" padding-horizontal>
                                <ion-item class="ujb_input_icon">
                                    <ion-label position="floating">Type your location*</ion-label>
                                    <ion-input (keyup.enter)="showVerifyDialog()" (ionBlur)="removeSroll()" (ionFocus)="scrollTo(5000);" class="iconMapNav"
                                        formControlName="location" type="text" [(ngModel)]="userLocation"></ion-input>
                                </ion-item>
                                <div class="validateError"
                                    *ngIf="businessList6Form.get('location').hasError('required') && checkValidation">Location is required
                                </div>
                                <ion-item>
                                    <ion-label position="floating">Flat/Wing/Unit*</ion-label>
                                    <ion-input type="text" (ionBlur)="removeSroll()" (ionFocus)="scrollTo(5000);" formControlName="flat"
                                        [(ngModel)]="userFlat_Wing" tabindex="8"></ion-input>
                                </ion-item>
                                <div class="validateError" *ngIf="businessList6Form.get('flat').hasError('required') && checkValidation">
                                    Flat is required</div>
                                <ion-item>
                                    <ion-label position="floating">Locality*</ion-label>
                                    <ion-input type="text" (ionBlur)="removeSroll()" (ionFocus)="scrollTo(5000);" formControlName="locality"
                                        [(ngModel)]="userLocality" tabindex="8" (keyup.enter)="showVerifyDialog()"></ion-input>
                                </ion-item>
                                <div class="validateError"
                                    *ngIf="businessList6Form.get('locality').hasError('required') && checkValidation">Locality is required
                                </div>
                            </ion-list>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="layer-group">
                <div class="layer-overlay" float-left>
                    <div class="layerSecond"></div>
                    <div class="layerLast"></div>
                </div>  
              </div>
    </div>
    <div class="container slider-navigation ujbFrame_footer pl0 pr0" no-padding>
        <div class="slider-button" float-left>
                <div class="block w-full pad-15 pad-t0"  float-left>
                        <button class="ujb_btn_blue"type="submit" *ngIf="isEdit"(click)="showVerifyDialog()" >Update</button>
                    </div>
            <div class="block w-full" float-left>
                <div class="navLeft"  *ngIf="hidePrevious"float-left (click)="goToBusinessListing5()">
                    <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                    <span>Previous</span>
                </div>
                <button class="btn_invisible" type="submit" float-right (click)="showVerifyDialog()">
            <div class="navRight" *ngIf="hideNext">
                <span>Next</span>
                <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
            </div>
          </button>
            </div>
            <!-- <div class="block w-full link-skip" *ngIf="hideSkipForLater" (click)="skip()" text-center float-left>
                <span>skip for later</span>
            </div> -->
        </div>
    </div>
</ion-content>
<!-- <ion-footer no-padding>
    <footer class="ujbFrame_footer">
            <div class="block w-full pad-15 pad-t0"  float-left>
                    <button class="ujb_btn_blue"type="submit" *ngIf="isEdit"(click)="showVerifyDialog()" >Update</button>
                </div>
        <div class="block w-full" float-left>
            <div class="navLeft"  *ngIf="hidePrevious"float-left (click)="goToBusinessListing5()">
                <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                <span>Previous</span>
            </div>
            <button class="btn_invisible" type="submit" float-right (click)="showVerifyDialog()">
        <div class="navRight" *ngIf="hideNext">
            <span>Next</span>
            <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
        </div>
      </button>
        </div> -->
        <!-- <div class="block w-full link-skip" *ngIf="hideSkipForLater" (click)="skip()" text-center float-left>
            <span>skip for later</span>
        </div> -->
<!--         
    </footer>
</ion-footer> -->