    .content_head { padding: 15px 16px 0; }
    .categories {
        margin-top: 30px;
        h3 { padding: 0 16px; margin-top: 0 !important; line-height: 26px; font-size: 20px; }
        @media screen and (max-width: 411px) {
            h3 { font-size: 18px; }
        }
    }
    .promotionalSlider {
        h3 { padding: 0 16px; font-size: 20px; }
        @media screen and (max-width: 411px) {
            h3 { font-size: 18px; }
        }
        ion-slides{
            padding: 0 16px;
        }
    }
    .businessListingFilter{
        font-size: 14px; position: relative; text-align: right;
        .icon-filter { width: 19px; height: 18px; display: inline-block; vertical-align: middle; margin-left: 10px; margin-right: 5px; }
        .filterApplied { 
            position: absolute; right: 0; top: -3px; display: inline-block; width: 10px; height: 10px; border-radius: 100%;
            background: var(--ujb_blueDark);
        }
    }
    .wrapper {
        padding-top: 15px !important;
        .ujb_businessCard { margin: 15px 0 !important; width: 100% !important; }
        .noData { margin-top: 40px; font-size: 20px; }
    }
    //.business_name { text-shadow: 0 0 8px #000; color: transparent !important; }

    .view {
        display: block !important;
    }
    .hide {
        display: none !important;
    }
    .user_guest_Only {
        .ujb_button { width: calc(100% - 55px); margin: 20px auto; }
       .business_name { text-shadow: 0 0 8px #000; color: transparent !important; }
       ion-avatar {
        div {
         border-radius: 50px;
         //box-shadow: inset 0 0 10px #003366; 
            img { filter: blur(4px); }
        }
    }
    }
    ion-footer{
        margin-bottom: constant(safe-area-inset-bottom);
           margin-bottom: env(safe-area-inset-bottom);
       }
       //ion-header{
      //  padding-top: 10px !important;
    //}

ion-item {
    display: flex;
    ion-avatar {
        height: fit-content;
        width: fit-content;
    }
    ion-card-content {
        width: calc(100% - 65px);
        flex: 1;
    }
}

ion-searchbar {
    min-height: 40px !important;
    max-height: 40px;
}