
// page-registration-option {
    // .scroll-content { overflow: hidden; }
    .block, .ujb_orHR, .txt_terms { width: 324px; margin: auto; }
    .ujb_orHR { margin: 30px auto !important; }
    .logo {
        margin-top: 15%;

        img { display: block; width: 98px; margin: auto; }
    }
    .logoIos{
        margin-top: 35%;
        img { display: block; width: 98px; margin: auto; }
    }
    .title { color: var(--ujb_gray); font-size: 18px; text-align: center; margin-top: 15%; margin-bottom: 25px; }
    button.ujb_btn_bordered_lg { margin-bottom: 30px; }
    .ujb_link {
        text-align: center; font-size: 20px; margin-bottom: 45px;
        .icon-play { width: 27px; height: auto; display: inline-block; vertical-align: middle; margin-left: 10px; }
    }
    @media screen and (max-height: 735px){
        .ujb_link { margin-bottom: 25px; }
        .title { margin-top: 10%; }
    }

    /* Registration Only */
    ul.socialOptions {
        display: block; list-style-type: none; margin: 0; padding: 0; text-align: center;
        li {  
            display: inline-block;

            img {
                width: 50px; height: auto; display: block;
                @media screen and (max-width: 411px){
                    width: 45px;
                }
            }
        }
        li:not(:last-child){ margin-right: 20px; }
    }
    .txt_terms { 
        text-align: center; font-size: 13px; margin-bottom: 35px;
        .ujb_link { margin-bottom: 0; font-size: 13px; font-weight: 500; }
    }
    .topMargin{
        display: block !important;
        margin-top: 45px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .block{
        display: block;
    }
    .view {
        display: block !important;
    }
    .hide {
        display: none !important;
    }
    ion-header{
        --padding-top: 10px !important;
    }
// }
