// page-error-internet {
    .scroll-content { overflow: hidden; }
    .wrapper {
        // position: relative; padding: 0 !important; width: 345px; margin: 30% auto; margin-top: calc(30% - 85px); 
        // margin-top: calc(35% - 85px);
        position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; width: 330px; height: 410px;
        
        @media screen and (max-width: 410px){
            width: 80%
        }
        img { width: 100%; height: auto; display: block; }
        h2, p { text-align: center; color: var(--ujb_gray); }
        h2 { font-size: 26px; font-weight: 600; padding-top: 20px; }
        p { font-size: 20px; }
        .ujb_btn_bordered_lg { margin-top: 35px; }
        @media screen and (max-width: 411px) {
            h2 { font-size: 23px; }
            p { font-size: 18px; }
        }
    }
    div.backButton { 
        display: inline-block; padding: 20px 15px 15px 25px;
        .ion-ios-arrow-back, .ion-ios-arrow-back { font-size: 1.8em !important; }
    }
    //ion-header{
      //  padding-top: 10px !important;
    //}
// }
