
    .referralPanel {
        padding: 1rem;
        .pad-t-10 { padding-top: 10px; }
        .pad-5 { padding: 5px; }
        .businessListingFilter { margin-bottom: 15px; }
        
        .rP_blocks {
            display: flex;

            .rP_block1, .rP_block2 { border-radius: 8px; box-shadow: -0.1px -1px 7.9px 0.1px #ccc; }
            .rP_block1 {
                width: 35%; padding: 10px; text-align: center; float: left;

                img { width: 31px; height: 31px; }
                p { font-size: 15px; color: var(--ujb_gray); padding: 5px 0; }
                p.referrals { font-size: 22px; font-weight: 600; color: var(--ujb_blueDark); padding-top: 10px; }
                @media screen and (min-width: 375px) {
                    .spaceHolder { height: 11px; }
                }
                @media screen and (max-width: 374px) {
                    .spaceHolder { height: 30px; }
                }
            }
            .rP_block2 { 
                width: calc(65% - 15px); float: left; margin-left: 15px;

                img { width: 33px; height: 31px; }
                p { font-size: 15px; color: var(--ujb_gray); padding: 5px 0; }
            }
        }

        .referral_indicator {
            margin: 35px 0 10px 0; text-align: left; padding-left: 5px; font-size: 16px;

            img { width: 38px; height: 25.7px; vertical-align: sub; }
            span { font-size: 16px; color: var(--ujb_gray); padding-left: 15px; }
            span.ref_counter { font-size: 22px; font-weight: 600; color: var(--ujb_blueDark); }
            @media screen and (max-width: 411px) {
                font-size: 15px;
                span { font-size: 15px; }
                span.ref_counter { font-size: 20px; }
            }
        }

        .rP_income {
            overflow: auto; padding-bottom: 10px;
            .activeIncome, .passiveIncome {
                width: 50%; float: left; padding: 7px; text-align: center;

                // .amount {
                //     font-size: 22px; font-weight: 600; color: var(--ujb_blueDark);
                //     @media screen and (max-width: 411px ){
                //         font-size: 20px;
                //     }
                // }
                .counts {
                    font-size: 16px !important;
                    color: var(--ujb_blueDark);
                    font-family: Lato Semibold;
                    line-height: 27px;
                }
                .counts-partnerStats {
                    font-size: 12.2px !important;
                    color: #003366 !important;
                    font-family: Lato Semibold;
                    padding-top: 0px !important;
                }
                @media screen and (min-width:320px) and (max-width: 412px){
                    .counts { font-size: 15px !important;}
                    .counts-partnerStats {
                        font-size: 12.2px !important;
                    }
                }
                @media screen and (max-width: 413px){
                    .counts { font-size: 16px !important; padding: 0 !important; }
                    .counts-partnerStats {
                        font-size: 16px !important;
                    }
                }
                .text_sm {
                    font-size: 13px;
                    @media screen and (max-width: 374px){
                        font-size: 14px;
                    }
                }
            }
            .activeIncome { border-right: 1px solid #ccc; }
        }

        ion-card {
            h2 { color: var(--ujb_blueDark) !important; font-family: Lato Semibold; font-size: 18px !important; }
            p.business_service + div { font-size: 16px; color: var(--ujb_gray); }
            .referral_status {
                background: rgba(0,0,0, 0.05); padding: 10px; border-radius: 5px;

                span.text_dealStatus { font-size: 14px; color: var(--ujb_lgray); font-style: italic; }
                img.icon-status { width: 15px; height: 15px; margin: 0 5px; display: inline-block; vertical-align: middle; }
                // .date { float: right; font-size: 13px; color: var(--ujb_lgray); }
                .referralStatus {
                    color: var(--ujb_businessCard_category_text); font-size: 16px; font-family: Lato Semibold;
                    @media screen and (max-width: 413px) {
                        font-size: 14.5px;
                    }
                }
            }
            .date { float: right; font-size: 12.7px; color: var(--ujb_lgray); }
            ion-item { padding-left: 0 !important; }
            @media screen and (max-width: 411px) {
                h2 { font-size: 16px; }
                p.business_service + div { font-size: 15px; }
            }
        }

        .no_referral_found { margin-top: 40px; font-size: 20px; }
    }
    // Repositioning of Searchbar and filter
    .ujb_search .ujb_searchbar { width: calc(100% - 50px); float: left; height: 32px; padding: 0;}

    .businessListings {
        .ujb_businessCard:last-child { margin-bottom: 25px !important; }
    }

    .searchPanel {
        .icon-filter {
            width: 19px;
            height: 18px;
        }
        .searchedTags {
            .text-xs {
                font-size: 13px;
                color: var(--ujb_gray);
                line-height: 25px;
                padding-left: 15px;
                margin-top: 0;
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    background: rgb(234, 232, 232);
                    color: var(--ujb_gray);
                    padding: 0 15px;
                    line-height: 25px;
                    border-radius: 20px;
                    margin: 0 5px 5px 0;
                    display: inline-block;
                    font-size: 13px;
                    img {
                        width: 9px;
                        height: 9px;
                        display: inline-block;
                        margin-left: 15px;
                    }
                }
            }
        }

        .seg1 { width: calc(100% - 35px); display: inline-block; margin-right: 10px; }
        .seg2 { position: relative; top: 5px; }
        .seg3 { width: 100%; }
        .ujb_search > .inline-block { width: 100%; }
    }
    .filterApplied {
        position: absolute;
        right: 0;
        top: -3px;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: var(--ujb_blueDark);
    }
    .pull-left{
        float:left;
    }
    .wts-i{
        width:15px;
        float: left;
        margin-right: 5px;
    }
    .call-i{
        width:18px;
        float: left;
    }
    .w-icon{
        color: rgb(180, 176, 176);
        // width: 37%;
        float: left;
        font-size: 14px;
        display: flex;
        align-items: center;
        padding-right: 1rem;
    }
    .call-icon{
        color: rgb(180, 176, 176);
        width: 100%;
        height: 20px;
        font-size: 14px;
        float: left;
    }
    .m-b-10{
        margin-bottom: 10px;
    }

    ion-searchbar {
        min-height: 40px !important;
        max-height: 40px;
    }