<div class="referralPanel">
    <section class="rP_blocks">
        <div class="rP_block1">
            <div>
                <img src="assets/imgs/content-imgs/businessClosedCopy3@2x.png" alt="">
            </div>
            <p>Deals Won</p>
            <div class="spaceHolder"></div>
            <p class="referrals">{{partnerStatInfos.referralStats.dealsClosed}}</p>



        </div>
        <div class="rP_block2">
            <div class="pad-t-10" text-center>
                <img src="assets/imgs/content-imgs/ammountEarnedCopy4@2x.png" alt="">
            </div>
            <p text-center>Referral Earned</p>
            <div class="rP_income">
                <div class="activeIncome">
                    <div class="text_sm">Active Income</div>
                    <div class="counts">&#8377; {{partnerStatInfos.referralStats.refsEarned.activeIncome}} </div>
                </div>
                <div class="passiveIncome">
                    <div class="text_sm">Passive Income</div>
                    <div class="counts">&#8377; {{partnerStatInfos.referralStats.refsEarned.passiveIncome}} </div>
                </div>
            </div>
        </div>
    </section>

    <section class="search">
        <div class="referral_indicator">
            <img src="assets/imgs/icons/referralsGivenCopy4@2x.png" alt="">
            <span>Details of Referral Given</span>
            <span class="ref_counter">{{partnerStatInfos.referralStats.refsGiven}}</span>
        </div>

        <div class="searchPanel">
            <div class="seg1">
                <div class="ujb_search {{searchbarclass}}">
                    <div class="inline-block">
                        <form action=".">
                            <ion-searchbar search-icon="null" class="ujb_searchbar" [(ngModel)]="query"
                                [ngModelOptions]="{standalone: true}" (search)="searchData(query)"
                                (ionInput)="setFilteredItems()" placeholder="Search by Listed Businesses">
                            </ion-searchbar>
                            <button end>
                                <img src="assets/imgs/icons/search@2x.png" alt="">
                            </button>
                        </form>
                        <!-- <form action=".">
                            <ion-searchbar search-icon="null" class="ujb_searchbar" [(ngModel)]="getBusinessListInfo.searchTerm"
                                [ngModelOptions]="{standalone: true}"
                                (search)="searchData(getBusinessListInfo.searchTerm)" (ionInput)="setFilteredItems()"
                                placeholder="Search for Listed Businesses">
                            </ion-searchbar>
                            <button end>
                                <img (click)="searchData(getBusinessListInfo.searchTerm)" src="assets/imgs/icons/search@2x.png" alt="">
                            </button>
                        </form> -->
                    </div>

                    <ion-list class="{{hideSearch}}" hidden>
                        <ion-item *ngFor="let item of items" (click)="selectValue(item,getBusinessListInfo.searchTerm)">
                            {{item.businessName}}
                        </ion-item>
                    </ion-list>

                    <ion-list hidden>
                        <ion-item>
                            <ion-label>Daenerys Targaryen</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>Daenerys Targaryen</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>Daenerys Targaryen</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>Daenerys Targaryen</ion-label>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div class="seg2 inline-block">
                <!-- <div class="businessListingFilter inline-block">
                    <span class="inline-block" (click)="openModal()">
                        <img class="icon-filter" src="assets/imgs/icons/sortFilter@2x.png" alt="">
                        <span class="{{myClass1}}"></span>
                    </span>
                </div> -->
                <div class="businessListingFilter inline-block">
                    <span class="inline-block" (click)="getCatId()">
                        <img class="icon-filter" src="assets/imgs/icons/sortFilter@2x.png" alt="">
                        <span class="{{myClass1}}"></span>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="businessListings">
        <ion-card class="ujb_businessCard" *ngFor="let searchreferralobj of searchReferralsList,let i=index">
            <ion-item>
                <!-- <ion-avatar item-start>
          <img src="assets/imgs/content-imgs/businessprofileCopy@2x.png">
        </ion-avatar> -->
                <ion-card-content style="padding-left: 0; padding-right: 0; width: 100%">
                    <div class="pad-5" style="display: flex; flex-direction: column;">
                        <p>
                            <span class="business_service pull-left"><i>Referral Id</i></span>
                            <span class="date">{{searchreferralobj.dateCreated}}</span>
                        </p>
                        <div class="business_service pull-left w-100">{{searchreferralobj.referralCode}}</div>
                        <p class="business_categories pull-left w-100 m-t-10">{{searchreferralobj.categories[0]}}
                            <span class="circleSeperator"
                                *ngIf="searchreferralobj.categories.length>1"></span>{{searchreferralobj.categories[1]}}
                            
                        </p>
                        <h2 class="pull-left w-100 m-t-10 {{blurName}}" (click)="openProfile(searchreferralobj)">
                            {{searchreferralobj.clientPartnerDetails.name}}</h2>
                            <div class="call-icon pull-left">
                                <span class="w-icon pull-left"  (click)="openonApp(searchreferralobj)">
                                     <img src="assets/imgs/icons/whatsapp.png" class="wts-i"><u>WhatsApp</u>
                                </span>
                                <span class="m-icon pull-left" (click)="gotoKeypad(searchreferralobj)">
                                    <img src="assets/imgs/icons/mobile.png" class="call-i"><u>Call</u>
                                </span>
                            </div>
                        <p class="business_service pull-left w-100 m-t-10"><i>Product / Service referred</i></p>
                        <div class="m-b-10 pull-left w-100">{{searchreferralobj.productName}}</div>

                        <p class="business_service pull-left w-100"><i>Description</i></p>
                        <div class="pull-left w-100">{{searchreferralobj.referralDescription}}</div>
                    </div>

                    <div class="referral_status pull-left w-100 m-b-10 m-t-10" style="width: 100%">
                        <div>
                            <span class="text_dealStatus"
                                *ngIf="searchreferralobj.refStatus != 0 && searchreferralobj.refStatus != 2">Deal
                                Status</span>
                            <span class="text_dealStatus"
                                *ngIf="searchreferralobj.refStatus == 0 || searchreferralobj.refStatus == 2">Referral
                                Status</span>
                            <img class="icon-status" src="{{searchreferralobj.statusHistories.icon}}" alt="">
                            <span class="date">{{searchreferralobj.statusHistories.date}}</span>
                        </div>

                        <div class="referralStatus">{{searchreferralobj.statusHistories.status}}</div>
                    </div>
                </ion-card-content>
            </ion-item>
        </ion-card>
        <div class="no_referral_found" *ngIf="noRefFound" text-center> No Referrals Found</div>
    </section>

</div>