<ion-header class="ujb_header ujbFrame_header blue-bg">
    <div class="statusBarPlaceholder" showWhen="ios"></div>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ pageTitle }}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="scroll-disabled ujbFrameContent">
    <div class="stackLayers ujbFrame_footerSkipLink">
        <div class="layerFront">
            
            <div class="contentArea">
                <h3>What is your gender?</h3>
                <div class="qOptions overflow-auto">
                    <ul class="overflow-auto">
                        <li><img [src]="male_img" alt=""(click)="selectMe(1)" ></li>
                        <li><img [src]="female_img" alt=""(click)="selectMe(2)"></li>
                    </ul>
                </div>
                <div class="validateError customValidation overflow-auto" *ngIf="!selectGender && checkValidation">Please select gender.</div>
            </div>
            <div><ion-input style="width:200px"></ion-input></div>
          </div>
        
        <div class="layerSecond"></div>
        <div class="layerLast"></div>
    </div>
</ion-content>
<ion-footer no-padding>
    <footer class="ujbFrame_footer">
        <div class="block w-full" float-left *ngIf="!showSave">
            <div class="navLeft disabledbutton" float-left>
                <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                <span>Previous</span>
            </div>
            <button class="btn_invisible" type="submit" disabled="{{disableSave}}" style="opacity: 1;" float-right (click)="goToQ2()" *ngIf="!showSave">
                <div class="navRight">
                    <span>Next</span>
                    <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
                </div>
            </button>
        </div>
        <div class="block w-full link-skip" text-center float-left >
            <!-- <footer class="ujbFrame_footer"> -->
                <div class="block w-full pad-15 pad-t0" float-left *ngIf="showSave">
                  <button class="ujb_btn_blue" (click)="saveGender()" disabled="{{disableSave}}" >Save</button>
                </div>
        </div>
    </footer>
</ion-footer>
