<ion-header class="ujb_header ujbFrame_header blue-bg">
    <div class="statusBarPlaceholder" showWhen="ios"></div>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ pageTitle }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="scroll-disabled ujbFrameContent">
    <div class="stackLayers ujbFrame_footerSkipLink">
        <div class="layerFront">
            <div class="contentArea">
                <h3>How did you come to know about UjustBe?</h3>
                <div class="block">
                    <button class="ujb_btn_bordered_sm" id="1" (click)="selectValue('UJustBe Partner','1')">UJustBe Partner</button>

                    <button class="ujb_btn_bordered_sm" id="2" (click)="selectValue('UJustBe Video','2')">UJustBe Video</button>
                    <button class="ujb_btn_bordered_sm" id="3" (click)="selectValue('Facebook','3')">Facebook</button>
                    <button class="ujb_btn_bordered_sm" id="4" (click)="selectValue('Linkedin','4')">Linkedin</button>
                    <button class="ujb_btn_bordered_sm" id="5" (click)="selectValue('Instagram','5')">Instagram</button>
                    <button class="ujb_btn_bordered_sm" id="6" (click)="selectValue('Other','6')">Other</button>
                    <div class="validateError" id="errorSource">
                        <span *ngIf="!isInputGiven && checkvalidation">Please select value.</span>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="layerSecond"></div>
        <div class="layerLast"></div>

    </div>
</ion-content>
<ion-footer>
    <footer class="ujbFrame_footer">
        <!-- <div class="block w-full pad-15 pad-t0"  float-left>
      <button class="ujb_btn_blue">UJB Button Blue</button>
  </div> -->
        <div class="block w-full" float-left>
            <div class="navLeft" float-left (click)="goToQ3()" *ngIf="!this.showSave">
                <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                <span>Previous</span>
            </div>

            <button class="btn_invisible" type="submit" disabled="{{disableSave}}" style="opacity: 1;"  float-right (click)="goToQ5()" *ngIf="!this.showSave">
            <div class="navRight">
                <span>Next</span>
                <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
            </div>
        </button>
        </div>
        <div class="block w-full link-skip" text-center float-left>
            <div class="block w-full pad-15 pad-t0" float-left *ngIf="showSave && inputVal == 'partner'">
                <button class="ujb_btn_blue" disabled="{{disableSave}}" style="opacity: 1;"  (click)="nextPage()">Next</button>
            </div>
            <div class="block w-full pad-15 pad-t0" float-left *ngIf="showSave && inputVal != 'partner'">
                <button class="ujb_btn_blue" (click)="saveOther()" disabled="{{disableSave}}">Save</button>
            </div>
        </div>
    </footer>
</ion-footer>