<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="ujb_header ujb_header_sm blue-bg">
  <div class="statusBarPlaceholder" showWhen="ios"></div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img class="icon-notification" src="assets/imgs/icons/notification@2x.png" alt="">
      Notification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="zeroNotifiction" *ngIf="noNotification">No Notification</div>
  <ion-list class="ujb_itemOption_list">
    <ion-item-sliding #item *ngFor="let notificationObj of notifications">
      <ion-item (click)="clickNotification(notificationObj)">
        <ion-avatar item-start>
          <img [src]="notificationObj.notificationIcon">
        </ion-avatar>
        <div class="label">
          <div class="n_time">{{notificationObj.timeToShow}}</div>
          <p class="n_message {{notificationObj.blueLink}}">
            <!-- <strong>{{notificationObj.type}}: </strong> -->
            {{notificationObj.message}}
          </p>
        </div>
      </ion-item>
      <ion-item-options *ngIf="false" side="end">
        <ion-button (click)="Delete(item)">Delete</ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll *ngIf="canLoadMore" (ionInfinite)="onScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>