<ion-header class="ujb_header ujb_header_sm">
    <header [pageTitle]="pageTitle"></header>
</ion-header>

<ion-content [ngClass]="{'keypadFocused':pushNow==true, 'excludeThisCase':focused==true, 'specialCategories':hideInputPage==false}">
    <div class="wrappedAll pt-70">
        <section id="content">

            <div id="accordion" class="accordion-container">
                <!-- <article class="content-entry" *ngFor="let productDetail of productDetailsList">
                    <h4 class="article-title" (click)="expandItem(productDetail)">
                        <span class="listCounter">1.</span> {{productDetail.productName}}
                        <i float-right></i>
                    </h4>
                    <div class="accordion-content">
                        <product-service-add-edit-form [productDetails]="productDetail" expandHeight="900px" [expanded]="productDetail.expanded">
                        </product-service-add-edit-form>
                    </div>
                  </article> -->
                <ion-card class="content-entry" [ngClass]="{'closed': !productDetail.expanded}" *ngFor="let productDetail of productDetailsList, let i=index">
                    <ion-card-header class="article-title" [ngClass]="{'close': !productDetail.expanded}" (click)="expandItem(productDetail)">
                        <!--  <ion-card-title>{{productDetail.productName}}</ion-card-title> -->
                        <span class="listCounter">{{i+1}}.</span> {{productDetail.name}}
                        <img *ngIf="!productDetail.expanded" src="assets/imgs/icons/blue-plus.png">
                        <img *ngIf="productDetail.expanded" src="assets/imgs/icons/blue-minus.png">
                    </ion-card-header>
    
                    <ion-card-content [ngClass]="{'my-class': !productDetail.expanded}">
                        <product-service-add-edit-form [setProductDetails]="productDetail" [productDetails]="productDetail" [productList]="productDetailsList" [index]="i" (_removeProduct)="_removeProduct($event);" (getProducts)="getProductServices()" (pushNowComp)="handleScroll($event)" (pushNowTemp)="pushUpwardTemp($event)" expandHeight="auto" [expanded]="productDetail.expanded">
                        </product-service-add-edit-form>
                    </ion-card-content>
                </ion-card>
    
    
    
                <!-- <article class="content-entry">
            <h4 class="article-title">Accordion Title 2 <i float-right></i></h4>
            <div class="accordion-content">
              <p>Accordion content 2</p>
            </div>
          </article>
      
          <article class="content-entry">
            <h4 class="article-title">Accordion Title 3 <i float-right></i></h4>
            <div class="accordion-content">
              <p>Accordion content 3</p>
            </div>
          </article>
      
          <article class="content-entry">
            <h4 class="article-title">Accordion Title 4 <i float-right></i></h4>
            <div class="accordion-content">
              <p>Accordion content 4</p>
            </div>
          </article> -->
    
            </div>
    
        </section>
    
    
        <div class="margin">
            <div class="addProductService" *ngIf="productDetailsList.length<5" (click)="addNewService()">
                <span class="ujb_link inline-block">{{addProdServiceText}}</span>
            </div>
            <div class="m-t-15 m-b-20" (click)="next()" *ngIf="this.prodServiceFlag =='both'">
                <button class="ujb_btn_blue">Add Products</button>
            </div>
            <div class="m-t-15 m-b-20" *ngIf="from !='CPPage'" (click)="goToBusinessKyc()">
                <button class="ujb_btn_blue">Go to Business Kyc</button>
            </div>
        </div>
        
    
        <!-- <footer class="ujbFrame_footer m-t-15">
            
        <div class="block w-full" float-left>
            <div class="navLeft" float-left (click)="goBack()">
                <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                <span>Previous</span>
            </div>
            <button class="btn_invisible" type="submit" float-right (click)="goToBusinessKyc()">
                  <div class="navRight">
                      <span>Next</span> 
                      <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
                  </div>
              </button>
        </div>
        <div class="block w-full link-skip" (click)="goToDashboard()" text-center float-left>
            <span>skip for later</span>
        </div>
        </footer> -->
    </div>
</ion-content>
<!--
<ion-footer>
     <bottombar></bottombar> 
</ion-footer>-->