<div class="modalAlert">
  <div class="header">  {{title}}</div>
  <section>
    <!-- <form [formGroup]="formGroup"> -->
      <ion-list class="ujb_radioButtons radioGroup-inline" >
<ion-radio-group style="display: flex" [(ngModel)]="value">
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start"  value='true' (click)="selectValue()"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value='false' (click)="selectValue()" ></ion-radio>
        </ion-item>
      </ion-radio-group>
</ion-list>

      <div class="validateError" *ngIf="!isInputGiven && checkValidation">Required field</div>
    <!-- </form> -->
  </section>
  <footer>
    <button (click)="close()">Cancel</button>
    <button (click)="saveData()">OK</button>
  </footer>
</div>
