<ion-content>
  <section class="introSlider">
    <ion-slides class="ujb_intro_slides" pager>

      <ion-slide>
        <img class="intro_img" src="assets/imgs/content-imgs/intro-1.jpg" alt="Intro img 1">
        <h2>Refer the deserving
          <br> and earn money</h2>
      </ion-slide>
  
      <ion-slide>
          <img class="intro_img" src="assets/imgs/content-imgs/intro-2.jpg" alt="Intro img 2">
          <h2>List your Product/
          <br>Services and expand</h2>
      </ion-slide>
  
      <ion-slide>
          <img class="intro_img" src="assets/imgs/content-imgs/intro-3.jpg" alt="Intro img 3">
          <h2>Relax and earn
          <br>the income passively</h2>
      </ion-slide>
  
      <ion-slide>
          <img class="intro_img" src="assets/imgs/content-imgs/intro-4.jpg" alt="Intro img 4">
          <h2>Grow and shine as
          <br>a community </h2>
      </ion-slide>
  
    </ion-slides>
  </section>
  <section class="footerButton">
    <button class="ujb_btn_blue" (click)="getStarted()">Let’s get started</button>
  </section>
</ion-content>