<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu class="ujb_theme" contentId="main-content" swipeGesture="false" type="overlay" side="end" (ionDidClose)="menuClosed()">
            <ion-content class="moreMenu">
                <div class="menuWrapper">

                    <div class="menuBlock">
                        <div>
                            <button class="ujb_btn_bordered_sm" (click)="gotoInvitePeople()">
                                    <img src="assets/imgs/icons/invite@2x.png" alt="">
                                    Invite People
                                </button>
                        </div>
                        <ul class="ujb_menus">
                            <li menuClose (click)="goTochangeLanguage('changeLang')">Change Language</li>
                            <li menuClose (click)="goTochangePassword()">Change Password</li>
                            <li menuClose (click)="goToContactUs()">Contact us</li>
                            <li menuClose (click)="goToAboutUs()">About UJustBe</li>
                            <li class="learnMore" menuClose (click)="playVideo()">Learn more <img src="assets/imgs/icons/play@2x.png" alt=""></li>
                            <li class="linkMore" (click)="showHide()">More</li>
                        </ul>
                        <ul class="ujb_menus moreMenus" *ngIf="shouldShow">
                            <li menuClose (click)="openPage('logout')">Logout</li>
                            <li menuClose (click)="goToPrivacyPolicy()">Privacy Policy</li>
                        </ul>
                    </div>

                    <img src="../assets/imgs/content-imgs/menu@2x.png" alt="Menu">
                </div>
            
            
            </ion-content>
        </ion-menu>
    
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
