<ion-header class="ujb_header ujbFrame_header blue-bg">
    <div class="statusBarPlaceholder" showWhen="ios"></div>
    <ion-toolbar>
        <ion-title>Business Listing</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="scroll-disabled ujbFrameContent">
    <div class="stackLayers ujbFrame_footerSkipLink">
        <div class="layerFront">
            <div class="contentArea">
                <h3>Upload Your / Company logo</h3>
                <div class="subHeading">(Optional)</div>
                <div class="answer-section">
                    <div class="uploadLogo">
                        <img  *ngIf="companyLogoDetails.logoBase64" onerror="this.src='assets/imgs/content-imgs/businessprofileCopy@2x.png'"  src="{{companyLogoDetails.logoBase64}}" alt=""  imageViewer>
                        <img *ngIf="!companyLogoDetails.logoBase64" onerror="this.src='assets/imgs/content-imgs/businessprofileCopy@2x.png'"  src="{{companyLogoDetails.logoBase64}}" alt="">
                        <!-- <img onerror="this.src='assets/imgs/icons/editPhoto.png';" src="{{companyLogoDetails.logoBase64}}" alt="" imageViewer> -->
                        <img class="editIcon-camera" src="assets/imgs/icons/camera@2x.png" alt="" (click)="openActionSheet()">
                    </div>
                </div>
            </div>
        </div>
        <div class="layerSecond"></div>
        <div class="layerLast"></div>
    </div>
</ion-content>
<ion-footer no-padding>
    <footer class="ujbFrame_footer">

        <div class="block w-full" float-left>
            <div class="navLeft" float-left (click)="goBack()">
                <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
                <span>Previous</span>
            </div>
            <button class="btn_invisible" type="submit" float-right (click)="uploadLogoDetail()">
                <div class="navRight">
                    <span>Next</span>
                    <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
                </div>
            </button>
        </div>
        <div class="block w-full link-skip m-b-10" type="submit" (click)="uploadLogoDetail()" text-center float-left>
            <span>skip for later</span>
        </div>
    </footer>
</ion-footer>