<!-- Partner Header -->
<ion-header id="header-partner" class="ujb_header ujb_header_sm blue-bg" *ngIf="!isClientPartner">
    <div class="statusBarPlaceholder" showWhen="ios"></div>
    <ion-toolbar no-padding>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Referrals</ion-title>
    </ion-toolbar>
</ion-header>

<!-- Client Partner Header -->
<ion-header id="header-clientPartner" class="ujb_header ujb_header_sm blue-bg" *ngIf="isClientPartner">
    <ion-toolbar>
        <!-- <ion-title>Referrals</ion-title> -->
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Statistics</ion-title>

    </ion-toolbar>
    <!-- Tabs -->
    <ion-title>
        <div class="ujb_segment ujb_segment_plus_style2">
            <div class="ujb_segment_tab">
                <ion-segment [(ngModel)]="segmentSlider">
                    <ion-segment-button value="referral" (click)="selectedSegment('referral')">Referral</ion-segment-button>
                    <ion-segment-button value="business" (click)="selectedSegment('business')">Business</ion-segment-button>
                </ion-segment>
            </div>
        </div>
    </ion-title>
</ion-header>

<ion-content class="clientPartnerContent" [ngClass]="{'modal_opened':scrollBlock==true}">

    <!-- Partner Content - Referral Panel -->
    <referral-panel *ngIf="!isClientPartner" [ujbStats]="ujbStat" [partnerStatInfos]="partnerStatInfo"
        [searchReferralsList]="searchReferralList" (_getReferrals)="_getReferrals($event);"
        [noRefFound]="noReferralFound"> </referral-panel>

    <!-- <div class="ujb_segment ujb_segment_plus_style2"  hidden>
        <div class="ujb_segment_content">
            <ion-slides #slider (ionSlideWillChange)="selectedSlide($event)">
                <ion-slide>
                    

                </ion-slide>
                <ion-slide>
                    
                </ion-slide>
            </ion-slides>


        </div>
    </div> -->

    <section class="ujb_segment ujb_segment_plus_style2 padding-top" [ngSwitch]="segmentSlider" 
    *ngIf="isClientPartner" [ngClass]="{'keyboardOpened':pushNow==true}">
        <div class="ujb_segment_content">
            <div class="referral" *ngSwitchCase="'referral'">
                <!-- Client Partner Content - Referral Panel -->
                <referral-panel [ujbStats]="ujbStat" [partnerStatInfos]="partnerStatInfo"
                    [searchReferralsList]="searchReferralList" (_getReferrals)="_getReferrals($event);"
                    [noRefFound]="noReferralFound"> </referral-panel>
            </div>
            <div class="business" *ngSwitchCase="'business'">
                <div class="businessStats">
                    <section class="rP_blocks">
                        <div class="rP_block1">
                            <div>
                                <img src="assets/imgs/content-imgs/businessClosedCopy3@2x.png" alt="">
                            </div>
                            <p>Total amount of Business Closed</p>
                            <div class="{{totalBusinessClosed}}">&#8377; {{partnerStatInfo.businessStats.totalBusinessClosed}}</div>
                        </div>
                        <div class="rP_block2">
                            <div text-center>
                                <img src="assets/imgs/icons/dealsClosed@2x.png" alt="">
                            </div>
                            <p text-center>Total Number of deals closed</p>
                            <p class="referrals" text-center>{{partnerStatInfo.businessStats.totalDealsClosed}}</p>
                        </div>
                    </section>
                    <section class="businessListings" style="margin-top: 25px;">
                        <ion-card class="ujb_businessCard" *ngFor="let deal of referralList">
                            <ion-item>
                                <ion-card-content style="padding-left: 0; padding-right: 0; width: 100%">
                                    <div class="pad-5 pull-left w-100 m-b-10" style="display: flex; flex-direction: column;">
                                        <div class="business_service"><i>Referral Id</i><span class="date">{{deal.dateCreated}}</span></div>
                                        
                                        <div class="business_service">{{deal.referralCode}}</div>
                                    </div>
                                    <h2 class="m-b-5 pull-left w-100 m-t-10">{{deal.referredToDetails.name}}</h2>
                                    <div class="call-icon pull-left">
                                            <span class="w-icon pull-left"  (click)="openonApp(2,deal)">
                                                 <img src="assets/imgs/icons/whatsapp.png" class="wts-i"><u>WhatsApp</u>
                                            </span>
                                            <span class="m-icon pull-left"  (click)="gotoKeypad(2,deal)">
                                                <img src="assets/imgs/icons/mobile.png" class="call-i"><u>Call</u>
                                            </span>
                                        </div>
                                    <div class="referredBy pull-left w-100 m-t-10">
                                        <div>
                                            <i>Referred by</i>
                                           
                                        </div>
                                        <h2 *ngIf="deal.isForSelf==true">Self Referral</h2>
                                        <h2 (click)="openClientProfile(deal)"
                                            [ngClass]="{'referredName': deal.referredByDetails.referredByRole == 'Listed Partner'}"
                                            *ngIf="deal.isForSelf==false">{{deal.referredByDetails.referredByName}}</h2>
                                            <div class="call-icon pull-left" *ngIf="deal.isForSelf==false">
                                                    <span class="w-icon pull-left"  (click)="openonApp(1,deal)">
                                                         <img src="assets/imgs/icons/whatsapp.png" class="wts-i"><u>WhatsApp</u>
                                                    </span>
                                                    <span class="m-icon pull-left" (click)="gotoKeypad(1,deal)">
                                                        <img src="assets/imgs/icons/mobile.png" class="call-i"><u>Call</u>
                                                    </span>
                                                </div>
                                    </div>
                                    <div class="pad-5 pull-left w-100 m-b-10 m-t-20">
                                        <p class="business_service"><i>Product / Service referred</i></p>
                                        <div>{{deal.productName}}</div>
                                    </div>
                                    <div class="pad-5 pull-left w-100 m-b-10">
                                        <p class="business_service"><i>Description</i></p>
                                        <div>{{deal.referralDescription}}</div>
                                    </div>

                                    <div class="acceptReject pull-left w-100 m-b-10 m-t-15" text-center style="margin-bottom: 30px;"
                                        *ngIf="deal.refStatus == 0">
                                        <div class="overflow-auto">
                                            <!-- Add class "selected" to button which will be selected and remove other one -->
                                            <button class="btn_accept {{deal.acceptSelected}}"
                                                (click)="referralAccept('accept',deal)">Accept</button>
                                            <button class="btn_reject {{deal.rejectSelected}}"
                                                (click)="referralAccept('reject',deal)" float-right>Reject</button>
                                        </div>

                                        <div class="m-t-15" *ngIf="deal.referralRejectFlag">
                                            <ion-list class="ujb_list">
                                                <ion-item class="spcAdj_input_btn">
                                                    <ion-input type="text" placeholder="Reason of rejection"
                                                        [(ngModel)]="deal.rejectedReason" (ionBlur)="removeSroll()" (ionFocus)="scrollTo(5000);"
                                                        [ngModelOptions]="{standalone: true}"></ion-input>
                                                        <img src="assets/imgs/icons/send@2x.png" alt="" style="height: 24px; width: auto" (click)="rejectRequest(deal)">
                                                        <!-- <ion-button class="bg-transparent m-r-0" clear item-right
                                                            (click)="rejectRequest(deal)">
                                                            <img src="assets/imgs/icons/send@2x.png" alt="">
                                                        </ion-button> -->
                                                </ion-item>
                                                <!-- <ion-item class="spcAdj_input_btn">
                                                            <button class="bg-transparent m-r-0" clear item-right (click)="rejectRequest(deal)">
                                                                <img src="assets/imgs/icons/send@2x.png" alt="">
                                                            </button>
                                                        </ion-item> -->
                                                <div class="validateError" *ngIf="deal.rejectReasonFlag==true"
                                                    text-left>Please enter reason for rejection.</div>
                                            </ion-list>
                                        </div>
                                    </div>
                                </ion-card-content>
                            </ion-item>
                        </ion-card>
                    </section>
                    <div class="referral_indicator">
                        <img src="assets/imgs/icons/referralsGivenCopy4@2x.png" alt="">
                        <span>Details of all deals</span>
                        <span class="ref_counter">{{dealList.length}}</span>
                    </div>
                    <section class="businessListings">
                        <ion-card class="ujb_businessCard" *ngFor="let deal of dealList">
                            <ion-item>
                                <ion-card-content style="padding-left: 0; padding-right: 0; width: 100%">
                                    <div class="pad-5 pull-left w-100 m-b-10" style="display: flex; flex-direction: column;">
                                        <div class="business_service"><i>Referral Id</i> <span class="date">{{deal.dateCreated}}</span></div>
                                        <div class="business_service">{{deal.referralCode}}</div>
                                    </div>
                                    <h2 class="m-b-5 pull-left w-100 m-t-10">{{deal.referredToDetails.name}}</h2>
                                    <div class="call-icon pull-left">
                                            <span class="w-icon pull-left"  (click)="openonApp(2,deal)">
                                                 <img src="assets/imgs/icons/whatsapp.png" class="wts-i"><u>WhatsApp</u>
                                            </span>
                                            <span class="m-icon pull-left"  (click)="gotoKeypad(2,deal)">
                                                <img src="assets/imgs/icons/mobile.png" class="call-i"><u>Call</u>
                                            </span>
                                        </div>
                                    <div class="referredBy p-b-10 pull-left w-100 m-t-10">
                                        <div>
                                            <i>Referred by</i>
                                           
                                        </div>
                                        <h2 *ngIf="deal.isForSelf==true" class="m-b-0">Self Referral</h2>
                                        <h2 *ngIf="deal.isForSelf==false"
                                            [ngClass]="{'referredName': deal.referredByDetails.referredByRole == 'Listed Partner'}"
                                            (click)="openClientProfile(deal)">{{deal.referredByDetails.referredByName}}
                                        </h2>
                                        <div class="call-icon pull-left" *ngIf="deal.isForSelf==false">
                                                <span class="w-icon pull-left"  (click)="openonApp(1,deal)">
                                                     <img src="assets/imgs/icons/whatsapp.png" class="wts-i"><u>WhatsApp</u>
                                                </span>
                                                <span class="m-icon pull-left" (click)="gotoKeypad(1,deal)">
                                                    <img src="assets/imgs/icons/mobile.png" class="call-i"><u>Call</u>
                                                </span>
                                            </div>
                                    </div>
                                    <div class="pad-5 pull-left w-100 m-b-10 m-t-10">
                                        <!--temp code added-->
                                        <p class="business_service"><i>Product / Service referred</i></p>
                                        <div>{{deal.productName}}</div>
                                    </div>
                                    <div class="pad-5 pull-left w-100 m-b-10">
                                        <p class="business_service"><i>Description</i></p>
                                        <div>{{deal.referralDescription}}</div>
                                    </div>
                                    <div class="referral_status pull-left w-100 m-b-10" style="width: 100%">
                                        <div>
                                            <span class="text_dealStatus">Deal Status</span>
                                            <img class="icon-status" src="{{deal.statusHistories.icon}}" alt="">
                                            <span class="date">{{deal.statusHistories.date}}</span>
                                        </div>
                                        <div class="referralStatus">{{deal.statusHistories.status}}</div>
                                        <div class="updateLink ujb_link" (click)="updateStatus(deal)"
                                            *ngIf="deal.dealStatus!=3 && deal.dealStatus!=10 && deal.refStatus!=2"><span>Update Status</span>
                                        </div>
                                    </div>
                                </ion-card-content>
                            </ion-item>
                        </ion-card>
                    </section>
                    <div class="noData" *ngIf="noReferralFound" text-center>No Deals Found</div>
                </div>
            </div>
        </div>
    </section>


    <ion-infinite-scroll *ngIf="canLoadMore" (ionInfinite)="onScroll($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>