<!-- <ion-header class="ujb_header">

  <img src="assets/imgs/content-imgs/forgotpassword@2x.png" alt="">
  <ion-icon class="back_button" ios="ios-arrow-back" md="md-arrow-back" (click)="goBack()"></ion-icon>

</ion-header> -->

<ion-content [ngClass]="{'keypadFocused':pushNow==true}">
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/content-imgs/forgotpassword@2x.png" alt="">
        <ion-icon class="back_button" ios="ios-arrow-back" md="md-arrow-back" (click)="goBack()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="myWrapper">
    <form [formGroup]="changePassForm">
      <h3>Change Password</h3>
      <ion-list class="ujb_list" padding-horizontal>
        <ion-item class="ujb_input_icon">
          <ion-label position="floating">New Password</ion-label>
          <ion-input (ionBlur)="removeSroll()" (ionFocus)="scrollTo(5000);" class="password" (ionChange)="isMatching()" formControlName="passwordNew" clearOnEdit="false" [type]="passwordType"
            [(ngModel)]="passwordNew"></ion-input>
          <ion-icon class="inputIcon_right" [name]="passwordIcon" color="gray" (click)='hideShowPassword()' item-end>
          </ion-icon>
        </ion-item>
        
        <div class="validateError" *ngIf="changePassForm.controls['passwordNew'].hasError('required') && checkValidation">
          Password is required</div>
        <div class="validateError"
          *ngIf="!changePassForm.controls['passwordNew'].valid && changePassForm.controls['passwordNew'].dirty && !changePassForm.get('passwordNew').hasError('required')">
          Password must be between 8 to 30 characters</div>
        <div class="validateError" *ngIf="passwordInvalid && !changePassForm.controls.passwordNew.errors?.valid">
          Password shouldn't contain empty spaces</div>
        <ion-item class="ujb_input_icon">
          <ion-label position="floating">Retype New Password</ion-label>
          <ion-input (ionBlur)="removeSroll()" (ionFocus)="scrollTo(5000);" class="password" formControlName="retypePass" (ionChange)="isMatching()" clearOnEdit="false" [type]="passwordReType" [(ngModel)]="retypePass" ></ion-input>
          <ion-icon class="inputIcon_right" [name]="reTypePasswordIcon" color="gray" (click)='hideShowReTypePassword()' item-end>
          </ion-icon>
        </ion-item>
        
        <div class="validateError" *ngIf="changePassForm.controls['retypePass'].hasError('required') && checkValidation ">
          Password is required</div>
          
        <div class="validateError" *ngIf="isMatchingPassword">
          Password does not match</div>
      </ion-list>
      <button class="ujb_btn_blue margin" (click)="callChangePasswordAPI()">Submit</button>
    </form>
  </div>
</ion-content>