    // ion-header {
    //     img { display: block; width: 100%; }
    //     .back_button { position: absolute; left: 25px; top: 25px; font-size: 1.6em; width: 40px; height: 40px; color: var(--ujb_gray); }
    // }
    .scroll-content { overflow: hidden; }
    img { display: block; width: 100%; }
    .back_button { position: absolute; left: 25px; top: 15px; font-size: 1.8em; width: 40px; height: 40px; color: var(--ujb_gray); }

    .myWrapper {
        padding: 0 35px; margin-top: 40px;
        h3 { font-size: 20px; text-align: center; color: var(--ujb_blueDark); margin-top: 0; margin-bottom: 25px; }
        ion-list { margin-bottom: 70px !important; }
        .ujb_btn_blue { width: calc(100% - 32px); margin: auto; }
    }

    .scroll-content { height: 100%; position: relative; transition: height 0.5s ease; }
    // .keypadFocused {
    //     .scroll-content { height: calc(100vh - 225px); }
    //     .margin { margin-bottom: 80px; }
    // }
    ion-footer{
        margin-bottom: constant(safe-area-inset-bottom);
           margin-bottom: env(safe-area-inset-bottom);
       }
       //ion-header{
      //  padding-top: 10px !important;
    //}
