    .invisible {
        display: none;
    }
    .invisible + button { width: 100% !important; }
    .modalAlert {
        position: relative;
        div.header,
        section {
            padding: 10px 15px;
        }
        .header {
            border-radius: 8px 8px 0 0;
            font-size: 16px;
            font-weight: 600;
            color: var(--ujb_gray);
        }
        section {
            overflow: auto;
            max-height: 120px;
            width: 100%;
            p {
                font-size: 16px;
                color: var(--ujb_gray);
                line-height: 22px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: right;
            padding: 2px 4px;
            button {
                padding: 10px;
                text-align: center;
                width: 50%;
                float: left;
                background: white;
                font-size: 16px;
            }
            button:last-child { color: var(--ujb_blueDark); }
        }
    }
    // .modal-wrapper{
    //     max-height: 130px !important;
    // }
    .confirmation_txt{
        text-align: justify;
        // padding-top: 37px;
        // font-size: 17px !important;
    
    }
