    //ion-header{
      //  padding-top: 10px !important;
    //}
    .thisPagefooter {
        background: white !important; padding: 10px;
        .ujb_btn_blue { margin-bottom: 10px; max-width: 60%; margin-left: auto; margin-right: auto; }
    }
    .m-b-2{
        margin-bottom: 15px !important;
    }
