<div class="modalAlert">
  <div class="header">Edit Email</div>
  <section>
    <form [formGroup]="formGroup">
      <ion-list class="ujb_list">
        <ion-item>
          <ion-input class="iconEmail" type="email"   (keyup)="changeErrorMessages('email')" formControlName="EmailId" [(ngModel)]="value"></ion-input>
        </ion-item>
      </ion-list>
      <div class="validateError" *ngIf="formGroup.get('EmailId').hasError('required') && checkValidation">Please enter valid {{type}}</div>
      <div class="validateError" *ngIf="!result && checkValidation &&(!formGroup.get('EmailId').hasError('required'))">Please enter valid Email</div>
      <div class="validateError" *ngIf="isEmailExist ">Email id is already registered  </div> 
    </form>
  </section>
  <footer>
    <button (click)="close()">Cancel</button>
    <button (click)="checkEmail()">OK</button>
  </footer>
</div>
