    ion-header.ujb_header {
        ion-navbar:not(.toolbar-md) { padding-left: 20px; padding-top: 15px; padding-bottom: 10px; }
        .back-button { display: block !important; margin-left: 0 !important; padding-left: 0 !important; }
    }
    ion-content {
        .ujb_intro_slides.img_productService .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) { background: rgba(0,0,0,0.3); }

        .product-service-view {
            padding: 10px 16px !important;

            .productServiceSlider {
                .ujb_stats_slides { height: 350px; margin-top: 10px; }
                
                // .swiper-pagination { bottom: 0 !important; }
                img { display: block; width: 100%; max-width: 100%; max-height: 100%; margin: auto; }
            }
        }
        .productServiceDetails {
            h2 { font-size: 24px; font-weight: 600; margin: 25px 0 20px; color: var(--ujb_gray); }
            .text_minDealValue {
                height: 22px; vertical-align: middle;
                i { font-size: 14px; padding-right: 10px; position: relative; top: -1px; }
                font-size: 18px; color: var(--ujb_lgray); margin-bottom: 15px; font-family: Lato Bold;
            }
            .text_referral_percentage:not(.hasSlab) { margin-bottom: 15px; }

            .text_slab { 
                font-size: 18px; color: rgb(102,102,102); font-weight: 600; margin: 5px 0 20px 0;
                @media screen and(max-width: 411px){
                    font-size: 16px;
                }
            }
            p { font-size: 15px; }
            .webUrl {
                margin: 15px 0; line-height: 22px;
                .icon-url { width: 17px; height: 17px; vertical-align: middle; margin-right: 10px; }
            }
            @media screen and(max-width: 411px){
                h2 { font-size: 22px; }
            }
        }
    }
    .content-md .ujb_stats_slides { margin-top: 0 !important; }
    //ion-header{
      //  padding-top: 10px !important;
    //}

