    ion-header#header-clientPartner {
        padding-bottom: 0 !important;
        ion-toolbar {
            padding: 0 !important;

            .back-button { display: block; position: absolute; left: 0 !important; top: 15px; padding: 0; margin-left: 0; }
            .ujb_segment {
                .ujb_segment_tab {
                    ion-segment { 
                        ion-segment-button {
                            margin-top: 35px !important; font-size: 16px; max-width: 135px !important; background: transparent !important;
                            text-transform: uppercase !important; margin-bottom: 0;
                        }
                        ion-segment-button:not(.segment-activated) { color: #fff; }
                        ion-segment-button:first-child { margin-left: auto; }
                        ion-segment-button:last-child { margin-right: auto; }
                    }
                }
            }
        }
    }
    .ujb_link { font-size: 14px; }

    ion-content {
        .cpBusiness { /* heightheight: calc(100vh - 120px); */ overflow: auto; }
        .ujb_segment_content {
            padding: 0 !important; border-top: none !important; box-shadow: none !important;
            ion-slide { max-width: 100%; }

            .profile_images {
                position: relative;
                .imgContainer {
                    position: relative;
                    max-height: 300px !important; min-height: 200px !important; overflow: hidden;

                    .back_button { font-size: 1.8em; color: #fff; }
                }

                .wallpaper { width: 100%; height: auto; display: block; }
                .upload_logo {
                    width: 101px; height: 101px; overflow: hidden; margin: auto; position: absolute; border-radius: 100%; 
                    border: 3px solid #fff; bottom: 0; left: 0; right: 0;
    
                    img.logo {
                        position:absolute; left: -100%; right: -100%; top: -100%; bottom: -100%; margin: auto; min-height: 100%; 
                        min-width: 100%; object-fit: cover;
                    }
                    .updateLogo {
                        position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.5); display: none;
    
                        img.icon-cam { width: 26px; height: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
                    }
                    @media screen and (max-width: 411px) {
                        width: 95px; height: 95px;
                    }
                }
                .blockH50 {
                    height: 50px;
                    .userCode {
                        font-size: 12.7px; float: left; padding: 10px 15px;
                        @media screen and (max-width: 413px){
                            font-size: 10px;
                        }
                    }
                    .rating {
                        font-size: 18px; font-weight: 600; color: var(--ujb_lgray); padding: 10px 15px;
                        img { width: 15px; height: 15px; display: inline-block; position: relative; top: 1.3px; }
                        @media screen and (max-width: 411px){
                            font-size: 16px;
                        }
                    }
                }
                .edit_wallpaper { position: absolute; bottom: 60px; left: 15px; width: 26px; display: none; }
                .btn_activate_editMode { 
                    position: absolute; right: 15px; bottom: 65px; width: 60px; height: auto; padding: 7px 15px;
                    background: #f1f1f1; border-radius: 8px;
                    @media screen and (max-width: 411px){
                        width: 55px;
                    }
                }
            }
            .profile_images.editModeOn {
                .updateLogo, .edit_wallpaper { display: block; }
                .btn_activate_editMode { display: none; }
            }

            /* Profile Info */
            .profileInfo {
                width: calc(100% - 32px); margin: auto; text-align: center;
                .icon_edit { width: 13px; height: 13px; vertical-align: super; float: right; position: absolute; right: 0; display: none; }
                .address, .buzCategory, .category, h2.profileName { position: relative; }
                .address, .buzCategory { margin: 1px 0; min-height: 20px; }
                .category {
                    font-size: 12px; color: var(--ujb_gray); padding-top: 15px; text-transform: uppercase;
                    .seperatorCircle {
                        padding: 2.5px; height: 2.5px; display: inline-block; background: var(--ujb_blueDark); border-radius: 100%; 
                        margin: 2px 7px;
                    }
                }
                h2.profileName { font-size: 22px; color: var(--ujb_gray); margin: 0; padding: 5px 0 0 0; font-family: Lato Semibold; }
                .buzCategory { color: var(--ujb_lgray); font-size: 16px; }
                .address {
                    font-size: 14px; margin-top: 2px; margin-bottom: 19px;
                    .icon_location { width: 12px; height: 12px; vertical-align: text-top; }
                }
            }
            .profileInfo.editModeOn {
                .icon_edit { display: inline-block; }
            }

            /* Navigator Link */
            .link {
                width: calc(100% - 50px); margin: auto; padding: 15px;
                .ujb_link {
                    font-size: 18px;
                    @media screen and (max-width: 411px) {
                        font-size: 16px;
                    }
                }
                .icon_arrowRight { width: 16px; height: 11px; margin-left: 10px; }
            }

            /* Content Info Tab Segments */
            .tabInfo {
                padding-bottom: 70px;

                ion-segment { border-bottom: 2px solid #ccc !important; }
                ion-segment-button { text-transform: uppercase !important; }
                ion-segment-button:not(.segment-activated){ color: rgba(55, 55, 55, 0.4) !important; }

                .segment_cp {
                    padding: 25px 16px 25px 16px;
                    .icon_edit { width: 13px; height: 13px; position: absolute; right: 4px; top: 5px; }
                    /* Tab About - Content */
                    .description {
                        position: relative; padding-right: 20px; text-align: left; font-size: 15px; line-height: 22px; min-height: 24px;
                    }
                    .webUrl {
                        position: relative; text-align: left; margin-top: 15px; margin-bottom: 65px; min-height: 22px;
                        .icon_url { width: 20px; height: 20px; vertical-align: text-top; margin-right: 15px; }
                        .ujb_link { font-weight: normal !important; margin-top: 4px; }
                    }
                    .dataInputs {
                        margin-top: 20px !important; margin-bottom: 20px !important;

                        > div { overflow: auto; }
                        img:not(.icon-edit) { float: left; }
                        img.icon-edit { float: right !important; width: 13px; height: 13px; }
                        span.Data {
                            display: inline-block; width: calc(100% - 55px); text-overflow: ellipsis; white-space: nowrap;
                            overflow: hidden; float: left; text-align: left; position: relative;
                        }
                    }
                    /* Tab Service - Content ==================================== */
                    // zeroService - This is content Block when there will no Service listed
                    .zeroService {
                        .ujb_btn_bordered_sm { max-width: 175px; margin-top: 20px; font-weight: 600; }
                    }

                    /* Tab Product - Content ===================================== */
                    .edit {
                        font-size: 16px;
                        .icon_edit { position: relative; top: 0; right: 0; margin-left: 5px; }
                    }
                    /* Product Slider */
                    .ujb_productSlider {

                        height: 325px !important;
                        .productCard {
                            border-radius: 13.3px; overflow: hidden; background: rgb(238, 238, 238); 

                            .dynamicImage {
                                width: 100%; height: 200px; overflow: hidden; margin: auto; position: relative;
                
                                img {
                                    position:absolute; left: -100%; right: -100%; top: -100%; bottom: -100%; margin: auto; min-height: 100%; 
                                    min-width: 100%; object-fit: cover;
                                }
                                .secData {
                                    position: relative;
                                    .link_addAnser { position: absolute; right: 0; background: #fff; }
                                }
                            }
                            h2 {
                                margin: 0 !important; font-size: 20px; color: var(--ujb_gray); font-weight: 600;
                                min-height: auto; max-height: auto ; padding: 10px; text-align: left; overflow: hidden;
                            }
                            .bizDetail {
                                height: auto; text-align: left; padding: 0 10px 10px 10px;
                                > div {
                                    line-height: 24px; vertical-align: middle;

                                    .label, .value { color: var(--ujb_lgray); }
                                    .label { font-size: 14px; font-style: italic; padding-right: 5px; }
                                    .value { font-size: 18px; font-weight: 600; }
                                    ion-icon { font-size: 21px; position: relative; top: 3px; }
                                }
                                
                            }
                        }
                    }

                }
                .segment_cp.product { padding: 25px 0 25px 0; }
            }
        }
    }
    button.ujb_btn_blue {
        height: 38px !important; line-height: 38px !important; width: 295px !important; margin: auto; position: fixed;
        bottom: 60px; left: 0; right: 0;
    } 
    .view {
        display: block !important;
    }
    .hide {
        display: none !important;
    }
    .noContent {
        font-size: 16px;
        font-style: italic;
        color: rgba(55, 55, 55, 0.6);
    }
    .placeholderText{
        font-size: 16px; color: rgba(55,55,55,0.6);
    }
    .backButtonCpView { position: absolute; top: 20px; left: 20px; padding: 10px; }
    ion-footer{
        margin-bottom: constant(safe-area-inset-bottom);
           margin-bottom: env(safe-area-inset-bottom);
       }
       .margin{
        margin-bottom: 32px !important;
    }
    //ion-header{
      //  padding-top: 10px !important;
    //}

