    .modalAlert {
        position: relative;

        div.header { padding: 10px 15px; }
        .header {
            border-radius: 8px 8px 0 0; font-size: 16px; font-weight: 600; color: var(--ujb_gray);
        }
        section {
            overflow: auto; max-height: 120px; width: 100%; padding: 0 15px;
            .ujb_withIcon ion-item.ujb_select {
                margin-left: 0; width: 125px;
                ion-select {
                    padding-left: 0 !important; background: none;
                }
            }
            ion-item.ujb_input { margin-right: 0 !important; }
            ion-item.item-block { min-height: 36px !important; max-height: 36px; }

            .width95 { width: 135px !important; max-width: 135px; }

            ion-item ion-input input { margin-top: 0 !important; margin-bottom: 0 !important; }

            .ujb_withIcon ion-item.ujb_select ion-select { padding-top: 13px !important; }
        }
        // footer {
        //     position: fixed; bottom: 0; left: 0; right: 0; text-align: right; padding: 2px 4px;
        //     button {
        //         padding: 10px; text-align: center; background: white; font-size: 16px;
        //     }
        //     button:last-child { color: var(--ujb_blueDark); }
        // }
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: right;
            padding: 2px 4px;
            button {
                padding: 10px;
                text-align: center;
                width: 50%;
                float: left;
                background: white;
                font-size: 16px;
            }
            button:last-child { color: var(--ujb_blueDark); }
        }
        .countryCode { padding-bottom: 10px !important; }
    }

