<div class="modalAlert">
  <div class="header">Edit Mobile Number</div>
  <section>
    <form [formGroup]="formGroup">
      <ion-list class="ujb_list ujb_selectNinput ujb_withIcon">
        <ion-item class="ujb_select width95">
          <ion-select class="countryCode" [(ngModel)]="countryCode" formControlName="CountryCode" (ionChange)="changeErrorMessagesFirst()">
              <ion-select-option value="{{countryCodeObj.code}}" [selected]="countryCode == countryCodeObj.code" *ngFor="let countryCodeObj of countries">({{countryCodeObj.code}})</ion-select-option>
          
          </ion-select>
        </ion-item>
        <ion-item class="ujb_input" [formGroup]="formGroup">
          <ion-input type="tel" placeholder="" maxLength="10"  (keyup)="changeErrorMessages();"  formControlName="MobileNumber" [(ngModel)]="value" (ionBlur)="checkMobile()">
          </ion-input>
        </ion-item>
      </ion-list>
      <div class="validateError outSideList" *ngIf="formGroup.get('MobileNumber').hasError('required') && !userMobileExist && checkValidation">Mobile number is required</div>
      
      <div class="validateError" *ngIf="!formGroup.controls['MobileNumber'].valid && !validMobileNum && !userMobileExist && formGroup.controls['MobileNumber'].dirty && !formGroup.get('MobileNumber').hasError('required')">Mobile number must be 10 digits.</div>
      
      <div class="validateError" *ngIf="userMobileExist && !formGroup.controls.MobileNumber.errors?.valid ">Mobile number is already registered</div>
      <div class="validateError" *ngIf="validMobileNum">Please enter valid mobile number</div>
    </form>
  </section>
  <footer>
    <button (click)="close()">Cancel</button>
    <button (click)="saveData()">OK</button>
  </footer>
</div>
