<ion-header class="ujb_header ujbFrame_header blue-bg">
    <div class="statusBarPlaceholder" showWhen="ios"></div>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ pageTitle }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="scroll-disabled ujbFrameContent">
    <div class="stackLayers ujbFrame_footerSkipLink">
        <div class="layerFront">
            <div class="contentArea">
                    <h3>Are you?</h3>
                    <div class="block">
                        <button class="ujb_btn_bordered_sm" id="individual" (click)="selectValue('Individual','1')" >Individual</button>
                        <button class="ujb_btn_bordered_sm" id="company" (click)="selectValue('Company','2')">Company</button>
                        <button class="ujb_btn_bordered_sm" id="other"(click)="selectValue('Other','3')">Other</button>
                        <div class="validateError" text-center *ngIf="!isInputGiven && checkvalidation">Please select value.</div>
                    </div>
            </div>
        </div>
        <div class="layerSecond"></div>
        <div class="layerLast"></div>
    </div>
</ion-content>
<ion-footer no-padding>
    <footer class="ujbFrame_footer">
        <!-- <div class="block w-full pad-15 pad-t0"  float-left>
      <button class="ujb_btn_blue">UJB Button Blue</button>
  </div> -->
  <div class="block w-full" float-left>
        <div class="navLeft" float-left (click)="goToQ5()" *ngIf="!showSave">
            <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
            <span>Previous</span>
        </div>
        <button class="btn_invisible" type="submit" disabled="{{disableSave}}" style="opacity: 1;"  float-right (click)="goToQ7()" *ngIf="!showSave">
            <div class="navRight">
                <span>Next</span>
                <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
            </div>
        </button>
    </div>
    <div class="block w-full link-skip" text-center float-left>
        <div class="block w-full pad-15 pad-t0" float-left *ngIf="showSave && selectedVal != 'Other'">
            <button class="ujb_btn_blue" disabled="{{disableSave}}" style="opacity: 1;"  (click)="nextPage()">Next</button>
          </div>
          <div class="block w-full pad-15 pad-t0" float-left *ngIf="showSave &&  selectedVal == 'Other'">
            <button class="ujb_btn_blue" (click)="saveOther()" disabled="{{disableSave}}">Save</button>
          </div>
    </div>
    </footer>
</ion-footer>