    .header-md::after { background-image: none; }
    // .scroll-content { overflow: hidden; }
    @media screen and (max-height: 500px){
        .scroll-content { overflow: auto; }
    }
    ion-header {
        --background: transparent; padding: 30px; text-align: center;
        .icon-close { width: 16px; height: 16px; }
        --border-radius: 15px 15px 0 0 !important;
        @media screen and (max-width: 411px) {
            --padding: 20px;
        }
    }
    ion-content {
        --border-radius: 0 0 15px 15px !important; 
        .popupContent {
            padding: 0 30px 40px;
            h2 {
                margin-top: 0px;
                font-size: 28px; color: var(--ujb_gray);
                @media screen and (max-width: 411px){
                    font-size: 25px;
                }
            }
            .imgContainer {
                text-align: center; margin: 50px 0 30px;
                img { width: 104px; height: 71px; }
                @media screen and (max-width: 411px){
                    margin: 30px 0 30px;
                }
            }
            p {
                margin-bottom: 48px; line-height: 21px; text-align: justify;
                @media screen and (max-height: 540px) {
                    margin-bottom: 50px;
                }
            }
            @media screen and (min-width: 414px){
                p { font-size: 18px; }
            }

            @media screen and (max-height: 559px){
                h2 { font-size: 20px; margin-top: 0; }
                .imgContainer { margin: 30px 0 30px; }
                p { margin-bottom: 65px; }
            }
            @media screen and (max-height: 540px){
                p { margin-bottom: 35px; }
            }
        }
        #partner {
            img { height: 58px !important; }
        }
    }
