<ion-header>
  <img src="assets/imgs/icons/close-black.png" alt="" class="icon-close" float-right (click)="closeModal()">
</ion-header>
<ion-content text-center class="ujb_theme">
  <div class="popupContent"  *ngIf="isClientPartner">
    <h2 >Sign up as <br>Listed Partner</h2>
    <div class="imgContainer">
      <img src="assets/imgs/content-imgs/clientPartner@2x.png" alt="">
    </div>
    <p>
      Being a Listed Partner at UJustBe helps your business to flourish
       by providing an excellent platform to promote your products 
       and services, both locally and globally. It’s a simple way
        to attract more business from anywhere in the world.
    </p>
    <button class="ujb_btn_blue" (click)="continueTobe()">Continue</button>
  </div>
  <div id="partner" class="popupContent" *ngIf="isPartner">
      <h2>Sign up as <br>Partner</h2>
      <div class="imgContainer">
        <img src="assets/imgs/content-imgs/partnerpopup@2x.png" alt="">
      </div>
      <p>
        Being a Partner at UJustBe opens up wonderful possibilities to connect with people, 
        earn effortlessly by passing referrals and to grow personally and professionally by 
        learning and sharing ideas in various UJustBe forums.
      </p>
      <button class="ujb_btn_blue" (click)="continueTobe()">Continue</button>
    </div>
</ion-content>