<ion-header class="ujb_header ujbFrame_header blue-bg">
    <div class="statusBarPlaceholder" showWhen="ios"></div>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ pageTitle }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="scroll-disabled ujbFrameContent">
    <div class="stackLayers ujbFrame_footerSkipLink">
        <div class="layerFront">
            <div class="contentArea">
                    <h3>Are you?</h3>
                    <div class="block ">
                        <div class="{{myClass1}}">
                         <button class="ujb_btn_bordered_sm"id="homemaker"  (click)="selectValue(1,'Homemaker')">Homemaker</button>
                        <button class="ujb_btn_bordered_sm" id="employee" (click)="selectValue(2,'Employee')">Employee</button>
                        <button class="ujb_btn_bordered_sm" id="student" (click)="selectValue(3,'Student')">Student</button>
                        <button class="ujb_btn_bordered_sm" id="retired" (click)="selectValue(4,'Retired')">Retired</button>
                        <button class="ujb_btn_bordered_sm" id="otherindividual" (click)="selectValue(5,'OtherIndividual')">Other</button>
                        <div class="validateError" text-center *ngIf="!isInputGiven && checkvalidation">Please select value.</div>
                    </div>
                        <div class="{{myClass2}}">
                            <button class="ujb_btn_bordered_sm" id="freelancer" (click)="selectValue(6,'Freelancer')">Freelancer</button>
                            <button class="ujb_btn_bordered_sm" id="consultant" (click)="selectValue(7,'Consultant')">Consultant</button>
                            <button class="ujb_btn_bordered_sm" id="owner" (click)="selectValue(8,'Owner')">Company Owner</button>
                            <button class="ujb_btn_bordered_sm" id="option" (click)="selectValue(9,'Option')">Other</button>
                            <div class="validateError" text-center *ngIf="!isInputGiven && checkvalidation">Please select value.</div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="layerSecond"></div>
        <div class="layerLast"></div>
    </div>
</ion-content>
<ion-footer no-padding>
    <footer class="ujbFrame_footer">
        <!-- <div class="block w-full pad-15 pad-t0"  float-left>
      <button class="ujb_btn_blue">UJB Button Blue</button>
  </div> -->
  <div class="block w-full" float-left>
        <div class="navLeft" float-left (click)="goToQ6()"  *ngIf="!showSave">
            <img class="img-icon" src="assets/imgs/icons/previous.png" alt="">
            <span>Previous</span>
        </div>
        <button class="btn_invisible" type="submit" float-right (click)="goToQ8()" *ngIf="!showSave">
            <div class="navRight">
                <span>Next</span>
                <img class="img-icon" src="assets/imgs/icons/next.png" alt="">
            </div>
        </button>
    </div>
    <div class="block w-full link-skip" text-center float-left>
        <div class="block w-full pad-15 pad-t0" float-left *ngIf="showSave ">
            <button class="ujb_btn_blue" (click)="saveOrginazationType()" disabled="{{disableSave}}">Save</button>
          </div>
    </div>
    </footer>
</ion-footer>