    .block { width: 193px; margin: auto; }
    h3 {
        text-align: center; font-size: 24px; margin-top: 15%; margin-bottom: 20%; color: var(--ujb_gray); 
        font-family: Lato Semibold;
        @media screen and (max-width: 411px) {
            font-size: 22px;
        }
    }
    button.ujb_btn_bordered_sm { margin-bottom: 20px; }
    
    .view {
        display: block !important;
    }
    .hide {
        display: none !important;
    }
    
    .ujb_btn_bordered:hover, .ujb_btn_bordered:focus, .ujb_btn_bordered_sm:hover, .ujb_btn_bordered_sm:focus, .ujb_btn_bordered_lg:hover, 
    .ujb_btn_bordered_lg:focus { 
        background: var(--ujb_blueDark); color: #fff;
    }
    ion-footer { background: transparent !important; padding-left: 0 !important; padding-right: 0 !important}
    //ion-header{
      //  padding-top: 10px !important;
    //}
    .ios{
        /* iphone X  iphone xs*/
        @media only screen and (min-height: 812px) and (max-height: 813px) {.scroll-content{max-height: 75vh !important}}
        /* iphone XR iphone xsmax */
        @media only screen and (min-height: 895px) and (max-height: 896px) {.scroll-content{max-height: 75vh !important}}
        /* iphone 6 iphone xs*/
        @media only screen and (min-height: 550px) and (max-height: 580px) {.scroll-content{max-height: 73vh !important}}
    }

